<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.five.dao.FiveDAO">  <!-- 인터페이스 -->
    
    <!-- 모임후기의 글개수를 반환하는 메서드 -->
    <select id="getPostCnt" parameterType="int" resultType="int">
    	SELECT COUNT(*) FROM meeting_post WHERE group_num = #{group_num}
    </select>
    
    <!-- 모임후기 리스트를 반환하는 메서드 -->
    <select id="getPostList" parameterType="map" resultType="com.engineers.moyeo.five.dto.MeetingPostDTO">
    	SELECT *
    	  FROM (SELECT post_num, post_title, post_content, post_tag, post_date, like_num, mem_id, group_num, rownum as rnum
    	  		  FROM (SELECT * 
    	  		          FROM meeting_post
    	  		         WHERE group_num = #{group_num} 
    	  		         ORDER BY post_num DESC
    	  		        )
    	  		)
    	 WHERE rnum BETWEEN #{start} AND #{end} 
    </select>
    
    <!-- 모임후기 삽입 쿼리 -->
    <insert id="insertPost" parameterType="com.engineers.moyeo.five.dto.MeetingPostDTO">
    	INSERT INTO meeting_post (post_num, post_title, post_content, post_tag, post_date, like_num, mem_id, group_num) 
    	                  VALUES (meeting_post_seq.nextval, #{post_title}, #{post_content}, #{post_tag}, #{post_date}, #{like_num}, #{mem_id}, #{group_num})
    </insert>
    
    <!-- 모임후기 글번호를 읽어오는 쿼리 -->
    <select id="getPostNum" parameterType="Map" resultType="int">
    	SELECT post_num FROM meeting_post WHERE group_num = #{group_num} AND post_date = #{post_date}
    </select>
    
    <!-- 모임후기의 사진을 등록하는 쿼리 -->
    <insert id="insertPostPic">
    	INSERT INTO post_pictures (pic_num, pic_path, pic_name, mem_id, group_num, post_num) 
    					   VALUES (post_pictures_seq.nextval, #{pic_path}, #{pic_name}, #{mem_id}, #{group_num}, #{post_num})
    </insert>
    
    <!-- 모임후기의 동영상을 등록하는 쿼리 -->
    <insert id="insertPostVideo">
    	INSERT INTO post_video (video_num, video_path, video_name, mem_id, group_num, post_num) 
    					VALUES (post_video_seq.nextval, #{video_path}, #{video_name}, #{mem_id}, #{group_num}, #{post_num})
    </insert>
    
</mapper>