<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.five.dao.FiveDAO">  <!-- 인터페이스 -->
    
    <!-- 모임후기의 글개수를 반환하는 메서드 -->
    <select id="getPostCnt" parameterType="int" resultType="int">
    	SELECT COUNT(*) 
    	  FROM meeting_post 
    	 WHERE group_num = #{group_num}
    </select>
    
    <!-- 모임후기 리스트를 반환하는 메서드 -->
    <select id="getPostList" parameterType="map" resultType="com.engineers.moyeo.five.dto.MeetingPostDTO">
    	SELECT *
    	  FROM (SELECT post_num, post_title, post_content, post_tag, post_date, like_num, mem_id, group_num, post_hit, rownum as rnum
    	  		  FROM (SELECT * 
    	  		          FROM meeting_post
    	  		         WHERE group_num = #{group_num} 
    	  		         ORDER BY post_num DESC
    	  		        )
    	  		)
    	 WHERE rnum BETWEEN #{start} AND #{end} 
    </select>
    
    <!-- 모임후기 삽입 쿼리 -->
    <insert id="insertPost" parameterType="com.engineers.moyeo.five.dto.MeetingPostDTO">
    	INSERT INTO meeting_post (post_num, post_title, post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num) 
    	                  VALUES (meeting_post_seq.nextval, #{post_title}, #{post_content}, #{post_tag}, #{post_date}, #{like_num}, #{post_hit},#{mem_id}, #{group_num})
    </insert>
    
    <!-- 모임후기 글번호를 읽어오는 쿼리 -->
    <select id="getPostNum" parameterType="Map" resultType="int">
    	SELECT post_num 
    	  FROM meeting_post WHERE group_num = #{group_num} AND post_date = #{post_date}
    </select>
    
    <!-- 모임후기의 사진을 등록하는 쿼리 -->
    <insert id="insertPostPic">
    	INSERT INTO post_pictures (pic_num, pic_path, pic_name, mem_id, group_num, post_num) 
    					   VALUES (post_pictures_seq.nextval, #{pic_path}, #{pic_name}, #{mem_id}, #{group_num}, #{post_num})
    </insert>
    
    <!-- 모임후기의 동영상을 등록하는 쿼리 -->
    <insert id="insertPostVideo">
    	INSERT INTO post_video (video_num, video_path, video_name, mem_id, group_num, post_num) 
    					VALUES (post_video_seq.nextval, #{video_path}, #{video_name}, #{mem_id}, #{group_num}, #{post_num})
    </insert>
    
    <!-- 모임후기의 상세정보를 조회하는 쿼리 -->
    <select id="getPostDetail" parameterType="int" resultType="com.engineers.moyeo.five.dto.MeetingPostViewDTO">
    	SELECT * 
    	  FROM meeting_post 
    	 WHERE post_num = #{post_num}
    </select>
    
    <!-- 해당 모임후기의 사진을 조회하는 쿼리 -->
    <select id="getPostPics" parameterType="int" resultType="com.engineers.moyeo.five.dto.PostPictureDTO">
    	SELECT *
          FROM post_pictures 
         WHERE post_num = #{post_num}
    </select>
    
    <!-- 해당 모임후기의 동영상을 조회하는 쿼리-->
    <select id="getPostVideos" parameterType="int" resultType="com.engineers.moyeo.five.dto.PostVideoDTO">
    	SELECT * 
    	  FROM post_video 
    	 WHERE post_num = #{post_num}
    </select>
    
    <!-- 해당모임 후기의 조회수를 증가시키는 쿼리 -->
    <update id="updatePostHit" parameterType="int">
    	UPDATE meeting_post 
    	   SET post_hit = post_hit+1 
    	 WHERE post_num = #{post_num}
    </update>
    
    <!-- 모임후기의 좋아요 버튼 클릭 여부 확인 -->
    <select id="likeCheck" parameterType="Map" resultType="int">
    	SELECT COUNT(*) 
    	  FROM meeting_post_like 
    	 WHERE post_num = #{post_num} 
    	   AND mem_id = #{mem_id}
    </select>
    
    <!-- 모임후기의 댓글을 불러옴 -->
    <select id="getPostReplys" parameterType="int" resultType="com.engineers.moyeo.five.dto.PostReplyDTO">
    	<!-- SELECT * 
    	  FROM meeting_post_reply
    	 WHERE post_num = #{post_num}
    	  -->
    	  SELECT *
    	 FROM(
	    	 SELECT mpr.POSTREP_NUM, mpr.REPLY_CONTENT, mpr.WRITE_DATE, mpr.MEM_ID, mpr.POST_NUM, mi.propic_path, mi.propic_name
	    	   FROM meeting_post_reply mpr, member_info mi
	          WHERE mpr.post_num = #{post_num} 
	            AND mpr.mem_id = mi.mem_id
            )
    </select>
    
    <!-- 해당모임 후기를 삭제시킴 -->
    <delete id="deletePost" parameterType="int">
    	DELETE 
    	  FROM meeting_post 
    	 WHERE post_num = #{post_num}  
    </delete>
    
    <!-- 모임후기를 수정하는 쿼리 -->
    <update id="updatePost" parameterType="com.engineers.moyeo.five.dto.MeetingPostDTO">
    	UPDATE meeting_post
    	   SET post_title = #{post_title},
    	   	   post_content = #{post_content},
    	   	   post_tag = #{post_tag}
    	 WHERE post_num = #{post_num}  	   
    </update>
    
    <!-- 모임후기 사진을 삭제하는 쿼리 -->
    <delete id="deletePostPic" parameterType="int">
    	DELETE 
    	  FROM post_pictures
    	 WHERE pic_num = #{pic_num}  
    </delete>
    
    <!-- 모임후기 동영상을 삭제하는 쿼리 -->
    <delete id="deletePostVideo" parameterType="int">
    	DELETE 
    	  FROM post_video
    	 WHERE video_num = #{video_num} 
    </delete>
    
    <!-- 모임후기의 좋아요 추가 -->
    <insert id="likePost"  parameterType="Map">
    	INSERT INTO meeting_post_like (post_like_num, post_num, mem_id) 
    	     VALUES (meeting_post_like_seq.nextval, #{post_num}, #{mem_id})
    </insert>
    
    <!-- 모임후기의 좋아요 수 증가 -->
    <update id="updateLikeNum" parameterType="int">
    	UPDATE meeting_post 
    	   SET like_num = like_num+1 
    	 WHERE post_num = #{post_num}
    </update>
    
    <!-- 모임후기의 좋아요 취소 -->
    <delete id="unLikePost" parameterType="Map">
    	DELETE 
    	  FROM meeting_post_like 
    	 WHERE post_num = #{post_num} 
    	   AND mem_id = #{mem_id}
    </delete>
    
     <!-- 모임후기의 좋아요 수 감소 -->
    <update id="downDateLikeNum" parameterType="int">
    	UPDATE meeting_post 
    	   SET like_num = like_num-1 
    	 WHERE post_num = #{post_num}
    </update>
    
    <!-- 모임후기 좋아요 수 검색 -->
    <select id="getLikeNum" parameterType="int" resultType="int">
    	SELECT like_num 
    	  FROM meeting_post 
    	 WHERE post_num = #{post_num}
    </select>
    
    <!-- 모임후기 댓글 추가 -->
    <insert id="addPostReply" parameterType="com.engineers.moyeo.five.dto.PostReplyDTO">
    	INSERT INTO meeting_post_reply (postrep_num, reply_content, write_date, mem_id, post_num) 
    	     VALUES (meeting_post_reply_seq.nextval, #{reply_content}, #{write_date}, #{mem_id}, #{post_num})
    </insert>
    
    <!-- 모임후기 댓글 조회 -->
    <select id="getPostReply" parameterType="Map" resultType="com.engineers.moyeo.five.dto.PostReplyDTO">
    	<!-- SELECT * 
    	  FROM meeting_post_reply 
    	 WHERE mem_id = #{mem_id} AND post_num = #{post_num} AND write_date = #{write_date} -->
    	 SELECT *
    	 FROM(
	    	 SELECT mpr.POSTREP_NUM, mpr.REPLY_CONTENT, mpr.WRITE_DATE, mpr.MEM_ID, mpr.POST_NUM, mi.propic_path, mi.propic_name
	    	   FROM meeting_post_reply mpr, member_info mi
	          WHERE mpr.mem_id = #{mem_id} 
	            AND mpr.post_num = #{post_num} 
	            AND mpr.write_date = #{write_date} 
	            AND mpr.mem_id = mi.mem_id
            )
    </select>
    
    <!-- 모임후기 댓글 삭제 -->
    <delete id="deletePostReply" parameterType="int">
    	DELETE
    	  FROM meeting_post_reply
    	 WHERE postrep_num = #{postrep_num}
    </delete>
    
    <!-- 모임의 사진리스트를 불러옴 -->
    <select id="getGroupPics" parameterType="int" resultType="com.engineers.moyeo.five.dto.PostPictureDTO">
    	SELECT pp.pic_num, pp.pic_path, pp.pic_name, pp.mem_id, pp.group_num, pp.post_num
    	  FROM meeting_post mp, post_pictures pp
    	 WHERE mp.post_num = pp.post_num
    	   AND mp.group_num = #{group_num}
    	 ORDER BY pp.pic_num DESC
    </select>
    
    <!-- 모임의 동영상리스트를 불러옴 -->
    <select id="getGroupVideos" parameterType="int" resultType="com.engineers.moyeo.five.dto.PostVideoDTO">
    	SELECT pv.video_num, pv.video_path, pv.video_name, pv.mem_id, pv.group_num, pv.post_num
    	  FROM meeting_post mp, post_video pv
    	 WHERE mp.post_num = pv.post_num
    	   AND mp.group_num = #{group_num}
    	 ORDER BY pv.video_num DESC
    </select>
    
</mapper>