<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.main.dao.MainDAO">  <!-- 인터페이스 -->
    
    <insert id="insertTest" parameterType="com.engineers.moyeo.six.dto.MemberInfoDTO">
    	INSERT INTO member_info (mem_id, passwd, name, address, tel, birth, email) 
    				     values (#{mem_id}, #{passwd}, #{name}, #{address}, #{tel}, #{birth}, #{email})
    </insert>
    
    <select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		  FROM member_info 
		 WHERE mem_id= #{mem_id}
	</select>
	
	<select id="pwdCheck" parameterType="Map" resultType="int">
		SELECT COUNT(*) 
		  FROM member_info 
		 WHERE mem_id= #{mem_id} AND passwd = #{passwd}
	</select>
	
	<select id="getWordCloudModel" resultType="com.engineers.moyeo.main.dto.WordDTO">
		SELECT *
	      FROM (
				SELECT word, count, part_of_speech, update_date, reg_date, rownum as rn
				  FROM (SELECT *
                          FROM wordcloud_list
                 		 ORDER BY count DESC, update_date DESC
                        )				 
         		)
    	 WHERE rn BETWEEN 1 AND 30 
	</select>
	
	<select id="checkWordCloud" parameterType="String" resultType="int">
		SELECT COUNT(*)
		  FROM wordcloud_list
		 WHERE word = #{word}
	</select>
	
	<insert id="addWordCloud" parameterType="com.engineers.moyeo.main.dto.WordDTO">
		INSERT INTO wordcloud_list (word, count, part_of_speech, update_date, reg_date) 
							VALUES (#{word}, #{count}, #{part_of_speech}, #{update_date}, #{reg_date})
	</insert>
	
	<update id="updateWordCloud" parameterType="com.engineers.moyeo.main.dto.WordDTO">
		UPDATE wordcloud_list
		   SET count = count + #{count}
		   SET update_date = #{update_date}
		 WHERE word = #{word}   
	</update>
	
</mapper>