<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.main.dao.MainDAO">  <!-- 인터페이스 -->
    
    <insert id="insertTest" parameterType="com.engineers.moyeo.six.dto.MemberInfoDTO">
    	INSERT INTO member_info (mem_id, passwd, name, address, tel, birth, email) values (#{mem_id}, #{passwd}, #{name}, #{address}, #{tel}, #{birth}, #{email})
    </insert>
    
    <select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member_info WHERE mem_id= #{mem_id}
	</select>
	
	<select id="pwdCheck" parameterType="Map" resultType="int">
		Select COUNT(*) FROM member_info WHERE mem_id= #{mem_id} AND passwd = #{passwd}
	</select>
	
</mapper>