<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.six.dao.SixDAO">  <!-- 인터페이스 -->
    
    <!-- 공지 글 개수 구하기 -->
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM noti_board
	</select>
		
	<!-- 공지 게시글 목록 조회 -->
	<select id="getArticles" parameterType="Map" resultType="com.engineers.moyeo.six.dto.NoticeDTO">
		SELECT * FROM (SELECT noti_num, noti_title, noti_content, noti_date, noti_hit, manager_id, rownum rnum 
		FROM (select * from noti_board ORDER BY noti_num DESC)) 
		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end} ORDER BY noti_num DESC
	</select>
	
	<!-- 공지 상세조회, 수정내역 -->
	<select id="getArticle" parameterType="int" resultType="com.engineers.moyeo.six.dto.NoticeDTO">
		SELECT * FROM noti_board WHERE noti_num = #{noti_num}
	</select>
	
	<!-- 공지 조회수 증가 -->
	<update id="addReadCnt" parameterType="int">
		UPDATE noti_board SET noti_hit = noti_hit + 1 WHERE noti_num = #{noti_num}
	</update>
	
	<!-- 공지 글작성 -->
	<insert id="insert" parameterType="com.engineers.moyeo.six.dto.NoticeDTO">
		INSERT INTO noti_board (noti_num, noti_title, noti_content, noti_date, noti_hit, manager_id) VALUES(noti_board_seq.NEXTVAL, #{noti_title}, #{noti_content}, #{noti_date}, 0, #{manager_id})	
	</insert>
	
	<!-- 공지 글수정 -->
	<update id="update" parameterType="com.engineers.moyeo.six.dto.NoticeDTO">
		UPDATE noti_board SET noti_title=#{noti_title}, noti_content=#{noti_content} WHERE noti_num=#{noti_num}
	</update>
	
	<!-- 공지 글삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM noti_board WHERE noti_num=#{noti_num}
	</delete> 
	
	<!-- 공지 전체글목록 조회-메인화면용 -->
	<select id="getArticles_main" resultType="com.engineers.moyeo.six.dto.NoticeDTO">
		SELECT * FROM noti_board ORDER BY noti_num DESC
	</select>
	
	<!-- 모임일정-글 개수 구하기 -->
	<select id="moimScheduleCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM meeting_list WHERE group_num = #{group_num}
	</select>
	
	<!-- 모임일정-일정리스트 -->
	<select id="moimScheduleDetail" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		SELECT * FROM (SELECT meeting_num, meeting_title, meeting_detail, meeting_loc, meeting_date, group_num, meeting_cost, meeting_pernum, loc_detail, rownum rnum 
		FROM (select * from meeting_list ORDER BY meeting_date ASC) WHERE group_num=#{group_num}) 
		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end} ORDER BY meeting_date ASC
	</select>
	
	<!-- 모임일정-상세정보 -->
	<select id="moimScheduleContents" parameterType="int" resultType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		SELECT * FROM meeting_list WHERE meeting_num=#{num}
	</select>
	
	<!-- 모임일정-등록 -->
	<insert id="moimRegister" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
 		INSERT INTO meeting_list (meeting_num, meeting_title, meeting_detail, meeting_loc, meeting_date, group_num, meeting_cost, meeting_pernum, loc_detail) VALUES(meeting_list_seq.NEXTVAL, #{meeting_title}, #{meeting_detail}, #{meeting_loc}, #{meeting_date}, #{group_num}, #{meeting_cost}, #{meeting_pernum}, #{loc_detail})
 	</insert> 
 	
 	<!-- 모임일정-수정 -->
 	<update id="moimScheduleModify" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		UPDATE meeting_list SET meeting_title=#{meeting_title}, meeting_detail=#{meeting_detail}, meeting_loc=#{meeting_loc}, meeting_date=#{meeting_date}, meeting_cost=#{meeting_cost}, meeting_pernum=#{meeting_pernum} WHERE meeting_num=#{meeting_num}
	</update>
 	
 	<!-- 모임일정-삭제 -->
 	<delete id="moimScheduleDelete" parameterType="int">
 		DELETE FROM meeting_list WHERE meeting_num = #{meeting_num}
 	</delete>
 	
 	<!-- 모임일정-참석여부확인 -->
 	<select id="moimScheduleJoinCheck" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO" resultType="int">
 		SELECT COUNT(*) FROM present_per_list WHERE mem_id = #{mem_id} AND meeting_num = #{meeting_num} 
 	</select>
 	
 	<!-- 모임일정-참석신청 -->
 	<insert id="moimScheduleJoin" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
 		INSERT INTO present_per_list (pre_per_num, mem_id, meeting_num) VALUES(present_per_list_seq.NEXTVAL , #{mem_id}, #{meeting_num})
 	</insert>
 	
 	<!-- 모임일정-참석취소 -->
 	<delete id="moimScheduleCancel" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
 		DELETE FROM present_per_list WHERE mem_id = #{mem_id} AND meeting_num = #{meeting_num}
 	</delete>
 	
 	<!-- 모임일정-참석인원 확인 -->
 	<select id="moimScheduleCheck" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM present_per_list WHERE meeting_num = #{meeting_num}
 	</select>
 	
 	<!-- 모임일정-참석자명단 확인 -->
 	<select id="moimScheduleMember" parameterType="int" resultType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
 		SELECT * FROM present_per_list WHERE meeting_num = #{meeting_num}
 	</select>
 	
 	
 	
 	<!-- 모임개설번호 받아오기 -->
 	<select id="moimOpenNum" resultType="int">
 		SELECT group_list_seq.nextval FROM dual
 	</select>
 	
 	<!-- 모임개설 -->
 	<insert id="moimOpenPro" parameterType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		INSERT INTO group_list (group_num, group_name, group_mem_cnt, group_inte1, group_inte2, group_location, group_intro, reg_date) VALUES(#{group_num}, #{group_name}, #{group_mem_cnt}, #{group_inte1}, #{group_inte2}, #{group_location}, #{group_intro}, #{reg_date})
 	</insert>
 	
 	<!-- 모임장등록 -->
 	<insert id="moimLeaderRegister" parameterType="com.engineers.moyeo.six.dto.MyGroupDTO">
 		INSERT INTO my_group (my_group_num, group_per, group_num, mem_id) VALUES(my_group_seq.NEXTVAL, 1, #{group_num}, #{mem_id})
 	</insert>
 	
 	<!-- 모임 기본 사진 설정(사이드) -->
 	<insert id="moimSidePhoto" parameterType="com.engineers.moyeo.six.dto.MainPictureDTO">
 		INSERT INTO main_picture (main_pic_num, main_pic_path, main_pic_name, group_num) VALUES(main_picture_seq.NEXTVAL, #{main_pic_path}, #{main_pic_name}, #{group_num})
 	</insert>
 	
 	<!-- 모임 기본 사진 설정(메인) -->
 	<insert id="moimMainPhoto" parameterType="com.engineers.moyeo.six.dto.MainPictureDTO">
 		INSERT INTO main_picture (main_pic_num, main_pic_path, main_pic_name, group_num) VALUES(main_picture_seq.NEXTVAL, #{main_pic_path}, #{main_pic_name}, #{group_num})
 	</insert>
 		
 	<!-- 카테고리-관심사별(아웃도어/여행) -->
 	<select id="categoryHobbyA" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '아웃도어/여행' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(운동/스포츠) -->
 	<select id="categoryHobbyB" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '운동/스포츠' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(인문학/책/글) -->
 	<select id="categoryHobbyC" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '인문학/책/글' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(외국/언어) -->
 	<select id="categoryHobbyD" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '외국/언어' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(문화/공연) -->
 	<select id="categoryHobbyE" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '문화/공연' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(음악/악기) -->
 	<select id="categoryHobbyF" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '음악/악기' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(공예/만들기) -->
 	<select id="categoryHobbyG" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '공예/만들기' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(댄스/무용) -->
 	<select id="categoryHobbyH" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '댄스/무용' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(봉사활동) -->
 	<select id="categoryHobbyI" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '봉사활동' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(사교/인맥) -->
 	<select id="categoryHobbyJ" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '사교/인맥' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(차/오토바이) -->
 	<select id="categoryHobbyK" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '차/오토바이' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(사진) -->
 	<select id="categoryHobbyL" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '사진' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(야구관람) -->
 	<select id="categoryHobbyM" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '야구관람' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(게임/오락) -->
 	<select id="categoryHobbyN" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '게임/오락' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(요리/제조) -->
 	<select id="categoryHobbyO" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '요리/제조' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(반려동물) -->
 	<select id="categoryHobbyP" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '반려동물' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(가족/결혼) -->
 	<select id="categoryHobbyQ" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '가족/결혼' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-관심사별(자유주제) -->
 	<select id="categoryHobbyR" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_inte1 = '자유주제' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	
 	
 	<!-- 카테고리-지역별(서울특별시) -->
 	<select id="categoryLocationA" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT g.*, p.* FROM group_list g, main_picture p WHERE g.group_location LIKE '서울%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(부산광역시) -->
 	<select id="categoryLocationB" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '부산%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(인천광역시) -->
 	<select id="categoryLocationC" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '인천%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(대구광역시) -->
 	<select id="categoryLocationD" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '대구%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(대전광역시) -->
 	<select id="categoryLocationE" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '대전%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(광주광역시) -->
 	<select id="categoryLocationF" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '광주%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(울산광역시) -->
 	<select id="categoryLocationG" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '울산%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(세종특별자치시) -->
 	<select id="categoryLocationH" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '세종%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(경기도) -->
 	<select id="categoryLocationI" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '경기%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(강원도) -->
 	<select id="categoryLocationJ" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '강원%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(충청북도) -->
 	<select id="categoryLocationK" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '충청북%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(충청남도) -->
 	<select id="categoryLocationL" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '충청남%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(경상북도) -->
 	<select id="categoryLocationM" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '경상북%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(경상남도) -->
 	<select id="categoryLocationN" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '경상남%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(전라북도) -->
 	<select id="categoryLocationO" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '전라북%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(전라남도) -->
 	<select id="categoryLocationP" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '전라남%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(제주특별자치도) -->
 	<select id="categoryLocationQ" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE g.group_location LIKE '제주%' AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>



 	<!-- 카테고리-규모별(5명이하) -->
 	<select id="categoryScaleA" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 5 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(10명이하) -->
 	<select id="categoryScaleB" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 10 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(20명이하) -->
 	<select id="categoryScaleC" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 20 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(30명이하) -->
 	<select id="categoryScaleD" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 30 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-지역별(40명이하) -->
 	<select id="categoryScaleE" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 40 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(50명이하) -->
 	<select id="categoryScaleF" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 50 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(100명이하) -->
 	<select id="categoryScaleG" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 100 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(150명이하) -->
 	<select id="categoryScaleH" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 150 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(200명이하) -->
 	<select id="categoryScaleI" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 200 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(250명이하) -->
 	<select id="categoryScaleJ" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 250 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(300명이하) -->
 	<select id="categoryScaleK" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 300 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(350명이하) -->
 	<select id="categoryScaleL" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 350 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(400명이하) -->
 	<select id="categoryScaleM" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 400 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(450명이하) -->
 	<select id="categoryScaleN" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 450 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(500명이하) -->
 	<select id="categoryScaleO" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 500 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(600명이하) -->
 	<select id="categoryScaleP" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 600 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select>
 	
 	<!-- 카테고리-규모별(700명이하) -->
 	<select id="categoryScaleQ" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 700 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select> 	
 	
 	<!-- 카테고리-규모별(800명이하) -->
 	<select id="categoryScaleR" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 800 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select> 
 	
 	<!-- 카테고리-규모별(900명이하) -->
 	<select id="categoryScaleS" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 900 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select> 
 	
 	<!-- 카테고리-규모별(1000명이하) -->
 	<select id="categoryScaleT" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list g, main_picture p WHERE group_mem_cnt = 1000 AND g.group_num = p.group_num AND p.main_pic_path not like '%-' ORDER BY g.group_num DESC
 	</select> 
 	
 	
 	
 	<!-- 모임-메인화면 -->
 	<select id="moimMain" parameterType="int" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		SELECT * FROM group_list WHERE group_num = #{group_num}
 	</select>
 	
 	<!-- 모임사이드-모임정보수정처리 -->
 	<update id="moimModifyPro" parameterType="com.engineers.moyeo.six.dto.MoimOpenDTO">
 		UPDATE group_list SET group_name = #{group_name}, group_mem_cnt = #{group_mem_cnt}, group_inte1 = #{group_inte1}, group_inte2 = #{group_inte2}, group_location = #{group_location}, group_intro = #{group_intro} WHERE group_num = #{group_num}
 	</update>
 	
 	<!-- 모임사이드-모임삭제 -->
 	<delete id="moimDelete" parameterType="int">
 		DELETE FROM group_list WHERE group_num = #{group_num}
 	</delete>
 	
 	<!-- 모임사이드-대표사진 등록 -->
 	<update id="moimAddImagePro" parameterType="com.engineers.moyeo.six.dto.MainPictureDTO">
 		UPDATE main_picture SET main_pic_path = '/groupImgPath', main_pic_name = #{main_pic_name} WHERE group_num = #{group_num} AND main_pic_path NOT LIKE '%-' 
 	</update>
 	
 	<!-- 모임-소개사진 등록 -->
 	<update id="moimAddImageProB" parameterType="com.engineers.moyeo.six.dto.MainPictureDTO">
 		UPDATE main_picture SET main_pic_path = '/groupImgPath-', main_pic_name = #{main_pic_name} WHERE group_num = #{group_num} AND main_pic_path LIKE '%-' 
 	</update>
 	
  	<!-- 모임-소개사진 불러오기 -->
 	<select id="moimImageViewB" parameterType="int" resultType="com.engineers.moyeo.six.dto.MainPictureDTO">
 		SELECT * FROM main_picture WHERE (main_pic_path = '/groupImgPath-' OR main_pic_path = '/moyeo/resources/resource/assets/images/moimImg-') AND group_num = #{group_num} ORDER BY main_pic_num DESC
 	</select>
 	
 	<!-- 모임-대표사진 불러오기 -->
 	<select id="moimImagesView" parameterType="int" resultType="com.engineers.moyeo.six.dto.MainPictureDTO">
 		SELECT * FROM main_picture WHERE (main_pic_path = '/groupImgPath' OR main_pic_path = '/moyeo/resources/resource/assets/images/moimImg') AND group_num = #{group_num} ORDER BY main_pic_num DESC
 	</select>
 	
 	<!-- 모임가입여부 확인 -->
 	<select id="memberCheck" parameterType="com.engineers.moyeo.six.dto.CheckPresentDTO" resultType="int">
 		SELECT COUNT(*) FROM my_group WHERE mem_id = #{mem_id} AND group_num = #{group_num}
 	</select>
 	
 	<!-- 모임-출석체크 중복체크 -->
 	<select id="checkPresentCount" parameterType="com.engineers.moyeo.six.dto.CheckPresentDTO" resultType="int">
 		SELECT COUNT(*) FROM check_present WHERE present_date = #{present_date} AND mem_id = #{mem_id} AND group_num = #{group_num}
 	</select>
 	
 	<!-- 모임-출석체크 입력 -->
 	<insert id="checkPresent" parameterType="com.engineers.moyeo.six.dto.CheckPresentDTO">
 		INSERT INTO check_present (present_num, present_date, mem_id, group_num) VALUES(check_present_seq.NEXTVAL, #{present_date}, #{mem_id}, #{group_num})
 	</insert>
 	
 	<!-- 모임-회원권한 설정 -->
 	<select id="groupPer" parameterType="Map" resultType="int">
 		SELECT group_per FROM my_group WHERE mem_id = #{mem_id} AND group_num = #{group_num}
 	</select> 
 	
 	<!-- 모임사이드-모임멤버리스트 불러오기 -->
 	<select id="memberList" parameterType="int" resultType="com.engineers.moyeo.six.dto.MemberInfoDTO">
		 SELECT i.*, m.* FROM member_info i, my_group m WHERE i.mem_id = m.mem_id AND m.group_num = #{group_num} ORDER BY m.group_per, i.name
 	</select>
 	
 	<!--  모임사이드-모임멤버 상세정보 -->
 	<select id="moimMemberDetail" parameterType="String" resultType="com.engineers.moyeo.six.dto.MemberInfoDTO">
 		SELECT * FROM member_info WHERE mem_id = #{mem_id}
 	</select>
 	
 	<!-- 모임-최근접속일 -->
 	<select id="lastConnect" parameterType="Map" resultType="java.sql.Timestamp">
 		SELECT MAX(present_date) FROM check_present WHERE mem_id = #{mem_id} AND group_num=#{group_num}
 	</select>
 	
 	<!-- 모임채팅방 개설 -->
 	<insert id="moimChatRegister" parameterType="int">
 		INSERT INTO chat_room_list (chat_room_num, group_num) VALUES(chat_room_list_seq.NEXTVAL, #{group_num})
 	</insert>
 	
 	<!-- 모임채팅방 번호 받아오기 -->
 	<select id="moimChatNum" parameterType="int" resultType="int">
 		SELECT chat_room_num FROM chat_room_list WHERE group_num = #{group_num}
 	</select>
 	
 	<!-- 모임채팅방 채팅내용 입력 -->
 	<insert id="addMsg" parameterType="com.engineers.moyeo.six.dto.MsgListDTO">
 		INSERT INTO msg_list (msg_num, mem_id, msg_content, msg_date, chat_room_num) VALUES (msg_list_seq.NEXTVAL, #{mem_id}, #{msg_content}, #{msg_date}, #{chat_room_num}) 
 	</insert>
 	
 	<!-- 모임채팅방 채팅입력내용 출력 -->
 	<select id="getMsg" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MsgListDTO">
 		SELECT m.msg_num, m.mem_id, m.msg_content, m.msg_date, m.chat_room_num, i.propic_path, i.propic_name FROM msg_list m, member_info i WHERE m.msg_date = #{msg_date} AND i.mem_id = #{mem_id}
 	</select>
 	
 	<!-- 모임채팅방 기존 채팅내용 확인 -->
 	<select id="msgCheck" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM msg_list WHERE chat_room_num = #{chat_room_num}
 	</select>
 	
 	<!-- 모임채팅방 전체 채팅내용 출력 -->
 	<select id="getMsgs" parameterType="int" resultType="com.engineers.moyeo.six.dto.MsgListDTO">
 		SELECT m.msg_num, m.mem_id, m.msg_content, m.msg_date, m.chat_room_num, i.propic_path, i.propic_name FROM msg_list m, member_info i WHERE m.chat_room_num = #{chat_room_num} AND i.mem_id = m.mem_id ORDER BY m.msg_date
 	</select>
 	
 	<!-- 모임채팅방 전체 채팅내용 실시간 -->
 	<select id="getChat" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MsgListDTO">
 		SELECT m.msg_num, m.mem_id, m.msg_content, m.msg_date, m.chat_room_num, i.propic_path, i.propic_name FROM msg_list m, member_info i WHERE m.chat_room_num = #{chat_room_num} AND m.msg_date &gt;= #{t2} AND m.msg_date &lt;= #{msg_date} AND i.mem_id = m.mem_id
 	</select>

	<!-- 관심모임 체크 -->
	<select id="favoriteCheck" parameterType="com.engineers.moyeo.six.dto.InterestGroupDTO" resultType="int">
		SELECT COUNT(*) FROM interest_group WHERE group_num = #{group_num} AND mem_id = #{mem_id}
	</select>
	
	<!-- 관심모임 등록 -->
	<insert id="favoriteInsert" parameterType="com.engineers.moyeo.six.dto.InterestGroupDTO">
		INSERT INTO interest_group (intergroup_num, group_num, mem_id) VALUES (interest_group_seq.NEXTVAL, #{group_num}, #{mem_id})
	</insert>
	
	<!-- 관심모임 삭제 -->
	<delete id="favoriteDelete" parameterType="com.engineers.moyeo.six.dto.InterestGroupDTO">
		DELETE FROM interest_group WHERE mem_id = #{mem_id} AND group_num = #{group_num}
	</delete>
	
	<!-- 인기모임 조회(회원수, 모임후기수, 출석체크수, 가입인사수, 모임공지수, 모임일정수) -->
	<select id="hotMoim" resultType="com.engineers.moyeo.six.dto.HotMoimDTO">
		SELECT mpcnt + cpcnt + mgcnt + gbcnt + gncnt + mlcnt AS cnt, group_num, group_name, group_inte1, group_inte2, group_location
		 FROM 
		 (SELECT NVL(a.mpcnt, 0) AS mpcnt, NVL(b.cpcnt, 0) AS cpcnt, NVL(c.mgcnt, 0) AS mgcnt, NVL(d.gbcnt, 0) AS gbcnt, 
		  NVL(e.gncnt, 0) AS gncnt, NVL(f.mlcnt, 0) AS mlcnt, b.group_num, m.group_name, m.group_inte1, m.group_inte2, m.group_location
		    FROM(SELECT COUNT(mp.post_num) AS mpcnt, gl.group_num AS group_num
		          FROM (SELECT group_num 
		            FROM group_list) gl, meeting_post mp
		            WHERE gl.group_num = mp.group_num
		            GROUP BY gl.group_num) a,
		        (SELECT COUNT(cp.present_num) AS cpcnt, gl.group_num AS group_num
		          FROM (SELECT group_num 
		            FROM group_list) gl, check_present cp
		            WHERE gl.group_num = cp.group_num
		            GROUP BY gl.group_num) b,
		        (SELECT COUNT(mg.my_group_num) AS mgcnt, gl.group_num AS group_num
		          FROM (SELECT group_num
		            FROM group_list) gl, my_group mg
		            WHERE gl.group_num = mg.group_num
		            GROUP BY gl.group_num) c,
		        (SELECT COUNT(gb.greeting_num) AS gbcnt, gl.group_num AS group_num
		          FROM (SELECT group_num
		            FROM group_list) gl, greeting_board gb
		            WHERE gl.group_num = gb.group_num
		            GROUP BY gl.group_num) d,
		        (SELECT COUNT(gn.group_noti_num) AS gncnt, gl.group_num AS group_num
		          FROM (SELECT group_num
		            FROM group_list) gl, group_notice gn
		            WHERE gl.group_num = gn.group_num
		            GROUP BY gl.group_num) e,
		        (SELECT COUNT(ml.meeting_num) AS mlcnt, gl.group_num AS group_num
		          FROM (SELECT group_num
		            FROM group_list) gl, meeting_list ml
		            WHERE gl.group_num = ml.group_num
		            GROUP BY gl.group_num) f,
		        group_list m    
		WHERE a.group_num(+) = b.group_num AND b.group_num = c.group_num(+) AND b.group_num = d.group_num(+) AND b.group_num = e.group_num(+)
		 AND b.group_num = f.group_num(+) AND b.group_num = m.group_num) ORDER BY cnt DESC, group_num
	</select>
	
	<!-- 회원의 관심카테고리 조회 -->
	<select id="inteCate" parameterType="String" resultType="com.engineers.moyeo.six.dto.InterestCatDTO">
		SELECT * FROM interest_cat WHERE mem_id = #{mem_id}
	</select>
	
	<!-- 회원의 관심지역 조회 -->
	<select id="inteLoca" parameterType="String" resultType="com.engineers.moyeo.six.dto.InterestLocationDTO">
		SELECT * FROM interest_location WHERE mem_id = #{mem_id}
	</select>
	
	<!-- 추천모임유무 -->
	<select id="recommendMoimChk" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM group_list WHERE (group_inte1 = #{group_inte1} AND group_inte2 = #{group_inte2} AND group_location = #{group_location}) OR (group_inte1 = #{group_inte1} AND group_inte2 = #{group_inte2}) OR (group_location = #{group_location})
	</select>
	
	<!-- 추천모임리스트 -->
	<select id="recommendMoim" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
		SELECT * 
		FROM group_list gl, main_picture mp 
		WHERE (gl.group_num = mp.group_num AND mp.main_pic_path not like '%-' AND (group_inte1 = #{group_inte1} 
		AND group_inte2 = #{group_inte2} AND group_location = #{group_location})) 
		OR (gl.group_num = mp.group_num AND mp.main_pic_path not like '%-' 
		AND (group_inte1 = #{group_inte1} AND group_inte2 = #{group_inte2})) 
		OR (gl.group_num = mp.group_num AND mp.main_pic_path not like '%-' 
		AND (group_location = #{group_location}))
	</select>
	
	<!-- 인기모임 사진포함해서 불러오기 -->
	<select id="hotMoimPic" parameterType="int" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
		SELECT * 
		FROM group_list g, main_picture p 
		WHERE g.group_num = #{group_num} AND g.group_num = p.group_num AND p.main_pic_path not like '%-'
	</select>
	
	<!-- 판매자 등록여부 확인 -->
	<select id="sellerRegisterChk" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM seller_info WHERE seller_id = #{seller_id}
	</select>
	
	<!-- 판매자등록 -->
	<insert id="sellerRegisterPro" parameterType="com.engineers.moyeo.six.dto.SellerInfoDTO">
		INSERT INTO seller_info (seller_id, tel, address, comp_name, bank, account_number, depositor, reason, reg_date, bc_path, bc_name, recognition) 
		VALUES (#{seller_id}, #{tel}, #{address}, #{comp_name}, #{bank}, #{account_number}, #{depositor}, #{reason}, #{reg_date}, #{bc_path}, #{bc_name}, #{recognition})
	</insert>
	
	<!-- 회원리스트(아이디만) -->
	<select id="memberName" parameterType="int" resultType="String">
		SELECT mem_id FROM my_group WHERE group_num = #{group_num}
	</select>
	
	<!-- 모임이름 -->
	<select id="groupName" parameterType="int" resultType="String">
		SELECT group_name FROM group_list WHERE group_num = #{group_num}
	</select>
	
	<!-- 샵-상품상세정보 -->
	<select id="productDetail" parameterType="int" resultType="com.engineers.moyeo.four.dto.productInfoDTO">
		SELECT * FROM product_info WHERE product_num = #{product_num}
	</select>
	
	<!-- 샵-상품사진 -->
	<select id="productPic" parameterType="int" resultType="com.engineers.moyeo.six.dto.ProductPicDTO">
		SELECT * FROM product_pic WHERE product_num = #{product_num}
	</select>
	
	<!-- 샵-제품후기등록 -->
	<insert id="productReviewPro" parameterType="com.engineers.moyeo.six.dto.ProductCommentsDTO" >
		INSERT INTO product_comments (comments_num, comments_content, comments_date, star_points, product_num, mem_id, comments_title) 
		VALUES (product_comments_seq.NEXTVAL, #{comments_content}, #{comments_date}, #{star_points}, #{product_num}, #{mem_id}, #{comments_title})
	</insert>
	
	<!-- 샵-제품문의등록 -->
	<insert id="inquirePro" parameterType="com.engineers.moyeo.six.dto.ProductQueDTO">
		INSERT INTO product_que (que_num, que_title, que_content, que_date, mem_id, product_num, que_type, visible) 
		VALUES (product_que_seq.NEXTVAL, #{que_title}, #{que_content}, #{que_date}, #{mem_id}, #{product_num}, #{que_type}, #{visible})	
	</insert>
	
	<!-- 샵-리뷰목록 -->
	<select id="reviewList" parameterType="int" resultType="com.engineers.moyeo.six.dto.ProductCommentsDTO">
		SELECT * 
		FROM product_comments 
		WHERE product_num = #{product_num} 
		ORDER BY comments_num DESC
	</select>
	
	<!-- 샵-리뷰삭제 -->
	<delete id="productReviewDelete" parameterType="int">
		DELETE FROM product_comments WHERE comments_num = #{comments_num} 
	</delete>
	
	<!-- 샵-문의사항목록 -->
	<select id ="queList" parameterType="int" resultType="com.engineers.moyeo.six.dto.ProductQueDTO">
		SELECT pq.que_num, pq.que_title, pq.que_content, pq.que_date, pq.mem_id, pq.product_num, pq.que_type, pq.visible, NVL(pa.ans_cnt, 0) AS ans_cnt
  FROM (SELECT que_num, que_title, que_content, que_date, mem_id, product_num, que_type, visible
          FROM product_que) pq,
       (SELECT COUNT(*) AS ans_cnt, que_num
          FROM product_ans
        GROUP BY que_num) pa
WHERE pq.que_num = pa.que_num(+) AND pq.product_num = #{product_num} ORDER BY que_num DESC		
	</select>
	
	<!-- 샵-문의글 삭제 -->
	<delete id="productQnaDelete" parameterType="int">
		DELETE FROM product_que WHERE que_num = #{que_num}
	</delete>
	
	<!-- 샵-리뷰수정폼 -->
	<select id="productReviewModify" parameterType="int" resultType="com.engineers.moyeo.six.dto.ProductCommentsDTO">
		SELECT pc.*, pi.product_name FROM product_comments pc, product_info pi 
		WHERE pc.comments_num = #{comments_num} AND pc.product_num = pi.product_num
	</select>
	
	<!-- 샵-리뷰수정처리 -->
	<update id="productReviewModifyPro" parameterType="com.engineers.moyeo.six.dto.ProductCommentsDTO">
		UPDATE product_comments 
		SET comments_content = #{comments_content}, comments_title = #{comments_title}, star_points = #{star_points} 
		WHERE comments_num = #{comments_num}
	</update>
	
	<!-- 샵-문의글 수정폼  -->
	<select id="inquireModify" parameterType="int" resultType="com.engineers.moyeo.six.dto.ProductQueDTO"> 
		SELECT pq.*, pi.product_name 
		FROM product_que pq, product_info pi 
		WHERE pq.que_num = #{que_num} AND pq.product_num = pi.product_num
	</select>
	
	<!-- 샵-문의글 수정처리 -->
	<update id="inquireModifyPro" parameterType="com.engineers.moyeo.six.dto.ProductQueDTO">
		UPDATE product_que 
		SET que_type = #{que_type}, que_title = #{que_title}, que_content = #{que_content}, visible = #{visible} 
		WHERE que_num = #{que_num}
	</update>	
	
	<!-- 샵-결제번호 구하기 -->
	<select id="GetPaymentnum" resultType="int">
		SELECT payment_list_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 샵-결제처리 -->
	<insert id="Payment" parameterType="com.engineers.moyeo.six.dto.PaymentListDTO">
		INSERT INTO payment_list (payment_num, receiver_name, address, tel1, tel2, delivery_request, payment_means, payment_amount, mem_id) 
		VALUES (#{payment_num}, #{receiver_name}, #{address}, #{tel1}, #{tel2}, #{delivery_request}, #{payment_means}, #{payment_amount}, #{mem_id})
	</insert>
	
	<!-- 샵-구매목록에 추가 -->
	<insert id="Order" parameterType="com.engineers.moyeo.six.dto.OrderListDTO">
		INSERT INTO order_list (order_num, order_date, order_qty, order_status, mem_id, product_num, payment_num)
		VALUES (order_list_seq.NEXTVAL, #{order_date}, #{order_qty}, #{order_status}, #{mem_id}, #{product_num}, #{payment_num})
	</insert>
	
	<!-- 샵-구매수량만큼 재고감소 -->
	<update id="StockMinus" parameterType="map">
		UPDATE product_info 
		SET product_qty = product_qty-#{order_qty} 
		WHERE product_num = #{product_num}
	</update>
	
	<!-- 샵-주문확인 -->
	<select id="buyResult" parameterType="int" resultType="com.engineers.moyeo.six.dto.PaymentListDTO">
		SELECT pl.*, ol.product_num, ol.order_qty, pi.product_name, pp.pic_path, pp.pic_name 
		FROM payment_list pl, order_list ol, product_info pi, product_pic pp 
		WHERE pl.payment_num = ol.payment_num AND ol.product_num = pi.product_num 
		AND pi.product_num = pp.product_num AND pl.payment_num = #{payment_num}
	</select>
		
</mapper>