<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.six.dao.SixDAO">  <!-- 인터페이스 -->
    
    <!-- 회원정보 입력 -->
    <select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM mvc_member WHERE id= #{id}    
    </select>
    
</mapper>