<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.six.dao.SixDAO">  <!-- 인터페이스 -->
    
    <!-- 공지 글 개수 구하기 -->
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM noti_board
	</select>
		
	<!-- 공지 게시글 목록 조회 -->
	<select id="getArticles" parameterType="Map" resultType="com.engineers.moyeo.six.dto.NoticeDTO">
		SELECT * FROM (SELECT noti_num, noti_title, noti_content, noti_date, noti_hit, manager_id, rownum rnum 
		FROM (select * from noti_board ORDER BY noti_num DESC)) 
		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end} ORDER BY noti_num DESC
	</select>
	
	<!-- 공지 상세조회, 수정내역 -->
	<select id="getArticle" parameterType="int" resultType="com.engineers.moyeo.six.dto.NoticeDTO">
		SELECT * FROM noti_board WHERE noti_num = #{noti_num}
	</select>
	
	<!-- 공지 조회수 증가 -->
	<update id="addReadCnt" parameterType="int">
		UPDATE noti_board SET noti_hit = noti_hit + 1 WHERE noti_num = #{noti_num}
	</update>
	
	<!-- 공지 글작성 -->
	<insert id="insert" parameterType="com.engineers.moyeo.six.dto.NoticeDTO">
		INSERT INTO noti_board VALUES(noti_board_seq.NEXTVAL, #{noti_title}, #{noti_content}, #{noti_date}, 0, #{manager_id})	
	</insert>
	
	<!-- 공지 글수정 -->
	<update id="update" parameterType="com.engineers.moyeo.six.dto.NoticeDTO">
		UPDATE noti_board SET noti_title=#{noti_title}, noti_content=#{noti_content} WHERE noti_num=#{noti_num}
	</update>
	
	<!-- 공지 글삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM noti_board WHERE noti_num=#{noti_num}
	</delete> 
	
	<!-- 공지 전체글목록 조회-메인화면용 -->
	<select id="getArticles_main" resultType="com.engineers.moyeo.six.dto.NoticeDTO">
		SELECT * FROM noti_board ORDER BY noti_num DESC
	</select>
	
	
	
	
	
	<!-- 모임일정-글 개수 구하기 -->
	<select id="moimScheduleCount" resultType="int">
		SELECT COUNT(*) FROM meeting_list
	</select>
	
	<!-- 모임일정-메인용 일정리스트 -->
	<select id="moimSchedule" resultType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		SELECT * FROM meeting_list ORDER BY meeting_date ASC
	</select>
	
	<!-- 모임일정-일정리스트 -->
	<select id="moimScheduleDetail" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		SELECT * FROM (SELECT meeting_num, meeting_title, meeting_detail, meeting_loc, meeting_date, group_num, meeting_cost, meeting_pernum, loc_detail, rownum rnum 
		FROM (select * from meeting_list ORDER BY meeting_date ASC)) 
		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end} ORDER BY meeting_date ASC
	</select>
	
	<!-- 모임일정-상세정보 -->
	<select id="moimScheduleContents" parameterType="int" resultType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		SELECT * FROM meeting_list WHERE meeting_num=#{num}
	</select>
	
	<!-- 모임일정-등록 -->
	<insert id="moimRegister" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
 		INSERT INTO meeting_list VALUES(meeting_list_seq.NEXTVAL, #{meeting_title}, #{meeting_detail}, #{meeting_loc}, #{meeting_date}, 1, #{meeting_cost}, #{meeting_pernum}, #{loc_detail})
 	</insert> 
 	
 	<!-- 모임일정-수정 -->
 	<update id="moimScheduleModify" parameterType="com.engineers.moyeo.six.dto.MoimScheduleDTO">
		UPDATE meeting_list SET meeting_title=#{meeting_title}, meeting_detail=#{meeting_detail}, meeting_loc=#{meeting_loc}, meeting_date=#{meeting_date}, meeting_cost=#{meeting_cost}, meeting_pernum=#{meeting_pernum} WHERE meeting_num=#{meeting_num}
	</update>
 	
 	<!-- 모임일정-삭제 -->
 	<delete id="moimScheduleDelete" parameterType="int">
 		DELETE FROM meeting_list WHERE meeting_num = #{meeting_num}
 	</delete>
</mapper>