<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.three.dao.ThreeDAO">  <!-- 인터페이스 -->
<!-- FAQ -->
	<!-- FAQ카테고리 개수 -->	
    <select id="getCount" resultType="int">
		SELECT count(*) FROM faq_category
	</select>
	<!-- FAQ개수 -->
	<select id="getCount2" resultType="int">
		SELECT count(*) FROM faq
	</select>
	<!-- FAQ카테고리 가져오기 -->
	<select id="getCategory" resultType="com.engineers.moyeo.three.dto.ThreeDTO">
		SELECT * 
			FROM (SELECT category_num as ctgNum, category_name as ctgName
		     		FROM (SELECT * FROM faq_category
		       	   	 	   ORDER BY category_name ASC
		           	 	 )
			  	 )			
	</select>	
	<!-- FAQ가져오기 -->
	<select id="getQuestions" resultType="com.engineers.moyeo.three.dto.ThreeDTO">
		SELECT * 
			FROM (SELECT faq_title as faqTitle, faq_content as faqContent, category_name as ctgName2, faq_num as faqNum
		     		FROM (SELECT * FROM faq
		       	   	 	   ORDER BY category_name ASC
		           	 	 )
			  	 )			
	</select>
	<!-- FAQ카테고리 중복 확인 -->
	<select id="ctgCheck" parameterType="com.engineers.moyeo.three.dto.ThreeDTO" resultType="int">
		SELECT count(*) FROM faq_category WHERE category_name = #{ctgName}
	</select>
	<!-- FAQ카테고리 입력 -->
	<insert id="insert" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		INSERT INTO faq_category
		VALUES (faq_category_seq.NEXTVAL, #{ctgName})
	</insert>
	<!-- FAQ 입력 -->
	<insert id="insertFaq" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		INSERT INTO faq
		VALUES (faq_seq.NEXTVAL, #{faqTitle}, #{faqContent}, #{faqDate}, #{adminId}, #{ctgName})
	</insert>
	<!-- FAQ카테고리 수정 처리 -->
	<update id="update" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		UPDATE faq_category SET category_name=#{ctgName2} WHERE category_name = #{ctgName}
	</update>
	<!-- FAQ수정하기 -->
	<update id="update2" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		UPDATE faq SET category_name=#{ctgName2} WHERE category_name = #{ctgName}
	</update>
	<!-- FAQ값 가져오기 -->
	<select id="getInfo" parameterType="int" resultType="com.engineers.moyeo.three.dto.ThreeDTO">
		SELECT faq_title as faqTitle, faq_content as faqContent, faq_num as faqNum, category_name as ctgName2
		  FROM faq
		 WHERE faq_Num = #{faqNum}	           	 	 		
	</select>
	<!-- FAQ수정하기 -->
	<update id="updateFaq" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		UPDATE faq SET category_name=#{ctgName}, faq_title=#{faqTitle}, faq_content=#{faqContent} WHERE faq_num = #{faqNum}
	</update>
	<!-- FAQ 카테고리 삭제 -->
	<delete id="delete" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		DELETE FROM faq_category WHERE category_num = #{ctgNum}
	</delete>
	<!-- FAQ 카테고리와 관련된 FAQ삭제 -->
	<delete id="delete2" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		DELETE FROM faq WHERE category_name = #{ctgName}
	</delete>
	<!-- FAQ삭제하기 -->
	<delete id="deleteFaq" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		DELETE FROM faq WHERE faq_num = #{faqNum}
	</delete>
<!-- FAQ -->
<!-- 이벤트 -->

	<!-- 이벤트 입력 -->
	<insert id="eventInsert" parameterType="com.engineers.moyeo.three.dto.EventDTO"> 
		INSERT INTO event_list
		VALUES (event_list_seq.NEXTVAL, #{eventTitle}, #{eventCon}, #{regDate}, #{startDate}, #{endDate}, #{ing}, #{notiDate}, #{adminId}, #{picPath}, #{picName})
	</insert>
	<!-- 이벤트 번호 가져오기 -->
	<select id="getEventNum" parameterType="java.sql.Timestamp" resultType="int">
		SELECT event_num as eventNum FROM event_list WHERE reg_date = #{regDate}
	</select>
	<!-- 썸네일 입력 -->
	<update id="eventImgInsert" parameterType="com.engineers.moyeo.three.dto.EventDTO">
		UPDATE event_list SET pic_path=#{picPath}, pic_name=#{picName} WHERE event_num = #{eventNum}
	</update>
	<!-- 이벤트 이미지 등록 -->
	<insert id="eventImgsInsert" parameterType="com.engineers.moyeo.three.dto.EventDTO"> 
		INSERT INTO event_pic
		VALUES (event_pic_seq.NEXTVAL, #{picPath2}, #{picName2}, #{eventNum})
	</insert>
	<!-- 진행중인 이벤트 개수 -->
	<select id="getEventCount" resultType="int">
		SELECT count(*) FROM event_list WHERE ing = 'Ing'
	</select>
	<!-- 이벤트 리스트 -->
	<select id="getEventList" parameterType="map" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT * 
			FROM (SELECT event_num as eventNum, event_title as eventTitle, event_content as eventCon, reg_date as regDate, start_date as startDate, end_date as endDate, ing, noti_date as notiDate, pic_path as picPath, pic_name as picName, MANAGER_ID as adminId, rownum rnum
		     		FROM (SELECT * FROM event_list
		     				WHERE ing = 'Ing'
		       	   	 	   ORDER BY event_num DESC
		           	 	 )
			  	 )
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}			
	</select>
	<!-- 이벤트 이미지 가져오기 -->
	<select id="getEventPic" parameterType="map" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT * 
			FROM (SELECT event_num as eventNum2, evepic_path as picPath2, evepic_name as picName2
		     		FROM (SELECT * FROM event_pic
		     				ORDER BY event_num DESC
		     		)
			  	 )						
	</select>
	<!-- 이벤트 참석 여부 -->
	<select id="eveChk" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM evejoin_list WHERE event_num=#{evenum} AND mem_id=#{memid}
	</select>
	<!-- 이벤트 참여 -->
	<insert id="eveParticipate" parameterType="map">
		INSERT INTO evejoin_list
			VALUES (evejoin_list_seq.NEXTVAL, #{memid}, #{evenum})
	</insert>
	<!-- 이벤트 참여자 명수 -->
	<select id="eventParticipantsCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM evejoin_list WHERE event_num = #{event_Num}
	</select>
	<!-- 이벤트 참여자 명단 -->
	<select id="getEvePartList" parameterType="int" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT *
			FROM (SELECT mem_id
					FROM (SELECT * FROM evejoin_list
						   WHERE event_num = #{event_num}
						   ORDER BY evejoin_num ASC 
						  )
				  )
	</select>
	<!-- 이벤트 정보 가져오기 -->	
	<select id="getEveInfo" parameterType="int" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT event_title as eventTitle, event_content as eventCon
			FROM event_list WHERE event_num = #{event_num}
	</select>
	<!-- 이벤트 마감 -->
	<insert id="winInsert" parameterType="map">
		INSERT INTO event_winning_list
			VALUES (winning_list_seq.NEXTVAL, #{title}, #{cont}, #{reg_date}, 0, #{event_num})
	</insert>
	<!-- 당첨번호 가져오기 -->
	<select id="getWinNum" parameterType="int" resultType="int">
		SELECT winning_num FROM event_winning_list WHERE event_num = #{event_num}
	</select>
	<!-- 당첨자 입력 -->
	<insert id="winnerInsert" parameterType="map">
		INSERT INTO winning_per_list
			VALUES (winper_list_seq.NEXTVAL, #{mem_id}, #{win_num})
	</insert>
	<!-- 참여자 리스트 제거 -->
	<delete id="eventParticipantsDelete" parameterType="int">
		DELETE FROM evejoin_list WHERE event_num = #{event_num}
	</delete>
	<!-- 이벤트 진행상황 변경 -->
	<update id="eventDone" parameterType="int">
		UPDATE event_list SET ing = 'done' WHERE event_num = #{event_num}
	</update>
	<!-- 이벤트 당첨 회원알림 -->
	<select id="winNoti" parameterType="map">
		INSERT INTO member_noti
			VALUES(member_noti_seq.NEXTVAL, #{noti_con}, '00', #{noti_date}, #{mem_id})
	</select>
	<!-- 당첨 리스트 개수 -->
	<select id="getWinCount" resultType="int">
		SELECT COUNT(*) FROM event_winning_list
	</select>
	<!-- 당첨 리스트 -->
	<select id="getWinList" parameterType="map" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT * 
			FROM (SELECT winning_num, event_num as eventNum, winning_title as eventTitle, winning_content as eventCon, reg_date as regDate, rownum rnum
		     		FROM (SELECT * FROM event_winning_list		     				
		       	   	 	   ORDER BY reg_date DESC
		           	 	 )
			  	 )			
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}			
	</select>
	<!-- 끝난 이벤트 리스트 -->
	<select id="getDoneEventList" parameterType="map" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT * 
			FROM (SELECT event_num as eventNum, event_title as eventTitle, event_content as eventCon, pic_path as picPath, pic_name as picName, MANAGER_ID as adminId
		     		FROM (SELECT * FROM event_list
		     				WHERE ing = 'done'
		       	   	 	   ORDER BY event_num DESC
		           	 	 )
			  	 )					
	</select>
	<!-- 이벤트 당첨자 수 -->
	<select id="getWinnerCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM winning_per_list WHERE winning_num = #{winning_num}
	</select>
	<!-- 이벤트 당첨자 리스트 -->
	<select id="getWinnerList" parameterType="int" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT *
			FROM (SELECT mem_id
					FROM (SELECT * FROM winning_per_list
						   WHERE winning_num = #{winning_num}
						   ORDER BY win_per_num ASC 
						  )
				  )
	</select>
	
	
<!-- 이벤트 -->
<!-- 회원 -->
	<!-- 아이디 중복체크 -->
	<select id="confirmId" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM member_info WHERE mem_id = #{memid}
	</select>
	<!-- 회원가입 -->
	<insert id="memInfoInsert" parameterType="com.engineers.moyeo.three.dto.MemberDTO">
		INSERT INTO member_info(mem_id, passwd, name, address, tel, birth, email, propic_path, propic_name, join_date, gender)
  			VALUES (#{mem_id}, #{passwd}, #{name}, #{address}, #{tel}, #{birth}, #{email}, #{proPicPath}, #{proPicName}, #{joinDate}, #{gender})
	</insert>
	<!-- 프로필 사진 입력 -->
	<update id="proImgInsert" parameterType="com.engineers.moyeo.three.dto.MemberDTO">
		UPDATE member_info SET propic_path = #{proPicPath}, propic_name = #{proPicName} WHERE mem_id = #{mem_id}
	</update>
	<!-- 관심 지역 입력 -->
	<insert id="placeInsert" parameterType="map">
		INSERT INTO interest_location
			VALUES (interest_location_seq.NEXTVAL, #{place1}, #{place2}, #{memid})
	</insert>
	<!-- 관심사 입력 -->
	<insert id="cateInsert" parameterType="map">
		INSERT INTO interest_cat
			VALUES (interest_category_seq.NEXTVAL, #{category1}, #{category2}, #{memid})
	</insert>
	<!-- 마이페이지 -->
	<select id="getMyInfo" parameterType="map" resultType="com.engineers.moyeo.three.dto.MemberDTO">
		SELECT mem_id, passwd, name, address, tel, birth, email, propic_path as proPicPath, propic_name as proPicName, join_date as joinDate, gender 
			FROM member_info WHERE mem_id=#{mem_id}
	</select>
	<!-- 가입한 모임 개수 -->
	<select id="getGroupCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM my_group WHERE mem_id=#{mem_id} 
	</select>
	<!-- 가입한 모임 리스트 -->
	<select id="getGroupList" parameterType="map" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
		SELECT *                   
		      FROM(SELECT gl.group_num as group_num, gl.group_name as group_name, gl.group_inte1 as group_inte1, gl.group_inte2 as group_inte2, gl.group_location as group_location, rownum rnum 
		            FROM group_list gl,
		                 (SELECT group_num
		                                  FROM my_group m
		                                 WHERE mem_id = #{mem_id}) g
		            WHERE gl.group_num = g.group_num
		            ORDER BY gl.group_name ASC)
		     WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	<!-- 현 비밀번호 체크 -->
	<select id="confirmPw" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM member_info WHERE mem_id = #{mem_id} AND passwd = #{passwd}
	</select>
	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="map">
		UPDATE member_info SET passwd = #{passwd} WHERE mem_id = #{mem_id}
	</update>
	<!-- 내 정보 변경 -->
	<update id="changeMyInfo" parameterType="map">
		UPDATE member_info SET name = #{name}, address = #{address}, email = #{email}, tel = #{tel} WHERE mem_id = #{mem_id}
	</update>
	<!-- 회원탈퇴 -->
	<delete id="deleteMem" parameterType="String">
		DELETE FROM member_info WHERE mem_id = #{mem_id}
	</delete>
	<!-- 이메일 가져오기 -->
	<select id="getEmail" parameterType="String" resultType="String">
		SELECT email FROM member_info WHERE mem_id = #{memid}
	</select>
	<!-- 임시번호 아이디 체크 -->
	<select id="tempIdChk" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM temppasswd_list WHERE mem_id = #{memid}
	</select>
	<!-- 임시번호 입력 -->
	<insert id="tempInsert" parameterType="map">
		INSERT INTO temppasswd_list	VALUES (#{memid}, #{passwd})
	</insert>
	<!-- 임시번호 수정 -->
	<update id="tempUpdate" parameterType="map">
		UPDATE temppasswd_list SET temp_passwd = #{passwd} WHERE mem_id = #{memid}
	</update>
	<!-- 임시번호 삭제 -->
	<delete id="tempDelete" parameterType="String">
		DELETE FROM temppasswd_list WHERE mem_id = #{mem_id}
	</delete>
	<!-- 알림메세지 개수 -->
	<select id="getNotiCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member_noti WHERE mem_id = #{mem_id}
	</select>
	<!-- 알림메세지 -->
	<select id="getNotiList" parameterType="map" resultType="com.engineers.moyeo.three.dto.MemberDTO">
		SELECT * 
			FROM (SELECT noti_content, noti_date, rownum rnum
		     		FROM (SELECT * FROM member_noti
		     			   WHERE mem_id = #{mem_id}    				
		       	   	 	   ORDER BY noti_date DESC
		           	 	 )
			  	 )			
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}	
	</select>
	<!-- 확인 안한 알림 개수 -->
	<select id="getNoneChkNoti" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member_noti WHERE mem_id = #{mem_id} AND is_checked = 0
	</select>
	<!-- 알림 확인 -->
	<update id="chkNoti" parameterType="String">
		UPDATE member_noti SET is_checked = 1 WHERE mem_id = #{mem_id}
	</update>
	<!-- 관심모임 개수 -->
	<select id="getInterGroupCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM interest_group WHERE mem_id = #{mem_id}
	</select>
	<!-- 가입신청 이력 개수 -->
	<select id="getApplHistoryCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM join_request WHERE mem_id = #{mem_id} AND (status = '대기' OR status = '거절' OR status = '강제탈퇴' OR status = '탈퇴')
	</select>
	<!-- 관심모임 가져오기 -->
	<select id="getInterGroup" parameterType="String" resultType="com.engineers.moyeo.six.dto.MoimOpenDTO">
		SELECT gl.group_num, gl.group_name, gl.group_inte1, gl.group_inte2, gl.group_location
		  FROM interest_group ig, group_list gl 
		 WHERE ig.mem_id = #{mem_id}
           AND ig.group_num = gl.group_num
	</select>
	<!-- 가입신청 이력 가져오기 -->
	<select id="getApplHistory" parameterType="String" resultType="com.engineers.moyeo.three.dto.JoinRequestDTO">
		SELECT jr.request_num as request_num, jr.request_date as request_date, jr.status as status, jr.mem_id as mem_id, jr.group_num as group_num, gl.group_name as group_name
		  FROM join_request jr, group_list gl 
		 WHERE mem_id = #{mem_id} 
		   AND (status = '대기' OR status = '거절' OR status = '강제탈퇴' OR status = '탈퇴')
		   AND jr.group_num = gl.group_num
	</select>
<!-- 회원 -->
</mapper>