<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="패키지명.인터페이스">

-->
<mapper namespace="com.engineers.moyeo.three.dao.ThreeDAO">  <!-- 인터페이스 -->
<!-- FAQ -->
    <select id="getCount" resultType="int">
		SELECT count(*) FROM faq_category
	</select>
	
	<select id="getCount2" resultType="int">
		SELECT count(*) FROM faq
	</select>
	
	<select id="getCategory" resultType="com.engineers.moyeo.three.dto.ThreeDTO">
		SELECT * 
			FROM (SELECT category_num as ctgNum, category_name as ctgName
		     		FROM (SELECT * FROM faq_category
		       	   	 	   ORDER BY category_name ASC
		           	 	 )
			  	 )			
	</select>	
	
	<select id="getQuestions" resultType="com.engineers.moyeo.three.dto.ThreeDTO">
		SELECT * 
			FROM (SELECT faq_title as faqTitle, faq_content as faqContent, category_name as ctgName2, faq_num as faqNum
		     		FROM (SELECT * FROM faq
		       	   	 	   ORDER BY category_name ASC
		           	 	 )
			  	 )			
	</select>
	
	<select id="ctgCheck" parameterType="com.engineers.moyeo.three.dto.ThreeDTO" resultType="int">
		SELECT count(*) FROM faq_category WHERE category_name = #{ctgName}
	</select>
	
	<insert id="insert" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		INSERT INTO faq_category
		VALUES (faq_category_seq.NEXTVAL, #{ctgName})
	</insert>
	
	<insert id="insertFaq" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		INSERT INTO faq
		VALUES (faq_seq.NEXTVAL, #{faqTitle}, #{faqContent}, #{faqDate}, #{adminId}, #{ctgName})
	</insert>
	
	<update id="update" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		UPDATE faq_category SET category_name=#{ctgName2} WHERE category_name = #{ctgName}
	</update>
	
	<update id="update2" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		UPDATE faq SET category_name=#{ctgName2} WHERE category_name = #{ctgName}
	</update>
	
	<select id="getInfo" parameterType="int" resultType="com.engineers.moyeo.three.dto.ThreeDTO">
		SELECT faq_title as faqTitle, faq_content as faqContent, faq_num as faqNum, category_name as ctgName2
		  FROM faq
		 WHERE faq_Num = #{faqNum}	           	 	 		
	</select>
	
	<update id="updateFaq" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		UPDATE faq SET category_name=#{ctgName}, faq_title=#{faqTitle}, faq_content=#{faqContent} WHERE faq_num = #{faqNum}
	</update>
	
	<delete id="delete" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		DELETE FROM faq_category WHERE category_num = #{ctgNum}
	</delete>
	
	<delete id="delete2" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		DELETE FROM faq WHERE category_name = #{ctgName}
	</delete>
	
	<delete id="deleteFaq" parameterType="com.engineers.moyeo.three.dto.ThreeDTO">
		DELETE FROM faq WHERE faq_num = #{faqNum}
	</delete>
<!-- FAQ -->
<!-- 이벤트 -->

	<!-- 이벤트 입력 -->
	<insert id="eventInsert" parameterType="com.engineers.moyeo.three.dto.EventDTO"> 
		INSERT INTO event_list
		VALUES (event_list_seq.NEXTVAL, #{eventTitle}, #{eventCon}, #{regDate}, #{startDate}, #{endDate}, #{ing}, #{notiDate}, #{adminId}, #{picPath}, #{picName})
	</insert>
	<!-- 이벤트 번호 가져오기 -->
	<select id="getEventNum" parameterType="java.sql.Timestamp" resultType="int">
		SELECT event_num as eventNum FROM event_list WHERE reg_date = #{regDate}
	</select>
	<!-- 썸네일 입력 -->
	<update id="eventImgInsert" parameterType="com.engineers.moyeo.three.dto.EventDTO">
		UPDATE event_list SET pic_path=#{picPath}, pic_name=#{picName} WHERE event_num = #{eventNum}
	</update>
	<!-- 이벤트 이미지 등록 -->
	<insert id="eventImgsInsert" parameterType="com.engineers.moyeo.three.dto.EventDTO"> 
		INSERT INTO event_pic
		VALUES (event_pic_seq.NEXTVAL, #{picPath2}, #{picName2}, #{eventNum})
	</insert>
	<!-- 진행중인 이벤트 개수 -->
	<select id="getEventCount" resultType="int">
		SELECT count(*) FROM event_list
	</select>
	<!-- 이벤트 리스트 -->
	<select id="getEventList" parameterType="map" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT * 
			FROM (SELECT event_num as eventNum, event_title as eventTitle, event_content as eventCon, reg_date as regDate, start_date as startDate, end_date as endDate, ing, noti_date as notiDate, pic_path as picPath, pic_name as picName, MANAGER_ID as adminId, rownum rnum
		     		FROM (SELECT * FROM event_list
		       	   	 	   ORDER BY event_num DESC
		           	 	 )
			  	 )
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}			
	</select>
	<!-- 이벤트 이미지 가져오기 -->
	<select id="getEventPic" parameterType="map" resultType="com.engineers.moyeo.three.dto.EventDTO">
		SELECT * 
			FROM (SELECT event_num as eventNum2, evepic_path as picPath2, evepic_name as picName2
		     		FROM (SELECT * FROM event_pic
		     				ORDER BY event_num DESC
		     		)
			  	 )						
	</select>
<!-- 이벤트 -->
<!-- 회원 -->
	<!-- 아이디 중복체크 -->
	<select id="confirmId" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM member_info WHERE mem_id = #{memid}
	</select>
<!-- 회원 -->
</mapper>