<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--  
<mapper namespace="?⑦궎吏紐??명꽣?섏씠??>

-->
<mapper namespace="com.engineers.moyeo.two.dao.TwoDAO">  <!-- ?명꽣?섏씠??-->

    <insert id="writeSuggestion" parameterType="com.engineers.moyeo.two.dto.SuggestionDTO">
		INSERT INTO suggestion(sug_num, sug_title, sug_content, sug_date, re_email, sug_status, manager_id, sol_content, sol_date, mem_id) 
			VALUES (suggestion_seq.nextval, #{sug_title}, #{sug_content}, SYSDATE, #{re_email}, 'N', NULL, NULL, NULL, #{mem_id})
	</insert>
	
	<select id="getSuggetionCount" parameterType="String" resultType="int">
		SELECT count(*) FROM suggestion WHERE sug_status= #{sug_status}
	</select>
	
    <select id="getSuggestionList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.SuggestionDTO">
		SELECT * 
		FROM (SELECT sug_num, sug_title, sug_content, sug_date, re_email, sug_status, manager_id, sol_content, sol_date, mem_id, rownum rnum 
			  FROM (SELECT * FROM suggestion WHERE sug_status = #{sug_status} ORDER BY sug_num DESC)
			 ) 
 		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="readSuggestion" parameterType="int" resultType="com.engineers.moyeo.two.dto.SuggestionDTO">
		SELECT * FROM suggestion WHERE sug_num = #{sug_num}
	</select>
	
	<update id="checkSuggestion" parameterType="com.engineers.moyeo.two.dto.SuggestionDTO">
		UPDATE suggestion SET sug_status = 'Y', manager_id = #{manager_id}, sol_content = #{sol_content}, sol_date = SYSDATE WHERE sug_num = #{sug_num}
	</update>
	
	<select id="getPlaceCount" resultType="int">
		SELECT count(*) FROM place_info
	</select>
	
	<select id="getPlaceList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">
		SELECT * 
		FROM (SELECT place_num, place_name, place_address, place_detail, place_link, rownum rnum 
			  FROM (SELECT * FROM place_info ORDER BY place_num DESC)
			 ) 
 		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getPlacePictureList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_picDTO">
		SELECT * 
		FROM (SELECT place_pic_num, place_pic_path, place_pic_name, place_num, rownum rnum 
			  FROM (SELECT * FROM place_pic ORDER BY place_num DESC)
			 ) 
 		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getPlaceMainLocCount" parameterType="Map" resultType="int">
		SELECT COUNT(*)
			FROM
			  (SELECT place_num,
			          place_name,
			          place_address
			    FROM 
			      (SELECT i.place_num,
			              i.place_name,
			              i.place_address,
	                      p.place_pic_path,
	                      p.place_pic_name
			        FROM place_info i,
			             place_pic p
			        WHERE i.place_num = p.place_num
			        ORDER BY i.place_num)
			    WHERE place_address LIKE '%'||#{place_address}||'%'
			      AND place_name LIKE '%'||#{place_name}||'%')
	</select>
	
	<select id="getPlaceLocList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">
		SELECT *
			FROM
			  (SELECT place_num,
			          place_name,
			          place_address,
			          rownum rnum
			    FROM 
			      (SELECT i.place_num,
			              i.place_name,
			              i.place_address,
		                  p.place_pic_path,
		                  p.place_pic_name
			        FROM place_info i,
			             place_pic p
			        WHERE i.place_num = p.place_num
			        ORDER BY i.place_num)
			    WHERE place_address LIKE '%'||#{place_address}||'%'
			      AND place_name LIKE '%'||#{place_name}||'%')
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getPlaceLocPictureList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_picDTO">
 		 SELECT *
			FROM
			  (SELECT place_num,
	                  place_address,
	                  place_pic_path,
			          place_pic_name,
			          rownum rnum
			    FROM 
			      (SELECT i.place_num,
			              i.place_name,
			              i.place_address,
                   		  p.place_pic_path,
			              p.place_pic_name
			        FROM place_info i,
			             place_pic p
			        WHERE i.place_num = p.place_num
			        ORDER BY i.place_num)
			    WHERE place_address LIKE '%'||#{place_address}||'%'
			      AND place_name LIKE '%'||#{place_name}||'%')
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getPlaceMainRecplaCount" parameterType="Map" resultType="int">		
		SELECT COUNT(*)             
	   		FROM(SELECT place_num,
		                place_name,
		                place_address,
		                recpla_category1,
		                recpla_category2
	           FROM (SELECT i.place_num,
		                     i.place_name,
		                     i.place_address,
		                     p.place_pic_path,
		                     p.place_pic_name,
		                     r.recpla_category1,
		                     r.recpla_category2
	                  FROM place_info i,
	                       place_pic p,
	                       rec_place r
	                    WHERE r.place_num = i.place_num
	                      AND i.place_num = p.place_num
	                    ORDER BY i.place_num)
	           WHERE recpla_category1 LIKE '%'||#{recpla_category1}||'%'
	            AND recpla_category2 LIKE '%'||#{recpla_category2}||'%'
	            AND place_name LIKE '%'||#{place_name}||'%')    
	</select>
	
	<select id="getPlaceRecplaList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">
		SELECT *             
		    FROM(SELECT place_num,
			             place_name,
			             place_address,
			             recpla_category1,
			             recpla_category2,
			             rownum rnum
		           FROM (SELECT i.place_num,
			                     i.place_name,
			                     i.place_address,
			                     p.place_pic_path,
			                     p.place_pic_name,
			                     r.recpla_category1,
			                     r.recpla_category2
		                  FROM place_info i,
		                       place_pic p,
		                       rec_place r
		                    WHERE r.place_num = i.place_num
		                      AND i.place_num = p.place_num
		                    ORDER BY i.place_num)
		           WHERE recpla_category1 LIKE '%'||#{recpla_category1}||'%'
		            AND recpla_category2 LIKE '%'||#{recpla_category2}||'%'
		            AND place_name LIKE '%'||#{place_name}||'%')
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getPlaceRecplaPictureList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_picDTO">				
		SELECT *             
		    FROM(SELECT place_num,
			             place_name,
			             place_pic_path,
			             place_pic_name,
			             recpla_category1,
			             recpla_category2,
			             rownum rnum
		           FROM (SELECT i.place_num,
			                     i.place_name,
			                     i.place_address,
			                     p.place_pic_path,
			                     p.place_pic_name,
			                     r.recpla_category1,
			                     r.recpla_category2
		                  FROM place_info i,
		                       place_pic p,
		                       rec_place r
		                    WHERE r.place_num = i.place_num
		                      AND i.place_num = p.place_num
		                    ORDER BY i.place_num)
		           WHERE recpla_category1 LIKE '%'||#{recpla_category1}||'%'
		            AND recpla_category2 LIKE '%'||#{recpla_category2}||'%'
		            AND place_name LIKE '%'||#{place_name}||'%')
			WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getPlaceLikeCount" resultType="int">
		SELECT count(*)
		  FROM (SELECT COUNT(pl.plalike_num) as place_like_count, pl.recpla_num as recpla_num
		          FROM place_like pl, rec_place rp, place_info pi, place_pic pp
		        WHERE pl.recpla_num = rp.recpla_num
		          AND rp.place_num = pi.place_num
		          AND pi.place_num = pp.place_num
		       GROUP BY pl.recpla_num) cc, rec_place rp, PLACE_INFO pi
		WHERE cc.recpla_num = rp.recpla_num
		  AND   rp.place_num = pi.place_num
		ORDER BY cc.place_like_count DESC
	</select>
	
	<select id="getPlaceLikeList" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">		
		 SELECT place_num, place_name, place_address, place_like_count
		   FROM (SELECT cc.place_like_count, cc.recpla_num, pi.place_num, pi.place_name, pi.place_address
		        FROM (SELECT COUNT(pl.plalike_num) as place_like_count, pl.recpla_num as recpla_num
		               FROM place_like pl, rec_place rp, place_info pi, place_pic pp
		               WHERE pl.recpla_num = rp.recpla_num
		                 AND rp.place_num = pi.place_num
		                 AND pi.place_num = pp.place_num
		               GROUP BY pl.recpla_num) cc, rec_place rp, PLACE_INFO pi
		         WHERE cc.recpla_num = rp.recpla_num
		         AND   rp.place_num = pi.place_num
		        ORDER BY cc.place_like_count DESC)
		  WHERE rownum BETWEEN 1 AND 5
	</select>
	
	<select id="getPlaceLikePictureList" resultType="com.engineers.moyeo.two.dto.Place_picDTO">		
		 SELECT place_num, place_pic_path, place_pic_name       
		  FROM(SELECT cc.place_like_count, cc.recpla_num, pp.place_num, pp.place_pic_path, pp.place_pic_name
		      FROM (SELECT COUNT(pl.plalike_num) as place_like_count, pl.recpla_num as recpla_num
		             FROM place_like pl, rec_place rp, place_info pi, place_pic pp
		             WHERE pl.recpla_num = rp.recpla_num
		               AND rp.place_num = pi.place_num
		               AND pi.place_num = pp.place_num
		             GROUP BY pl.recpla_num) cc, rec_place rp, place_info pi, place_pic pp 
		       WHERE cc.recpla_num = rp.recpla_num
		         AND rp.place_num = pi.place_num
		         AND pi.place_num = pp.place_num
		        ORDER BY cc.place_like_count DESC)
		  WHERE rownum BETWEEN 1 AND 5
	</select>
	
	<select id="readPlace" parameterType="int" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">
		SELECT * FROM place_info WHERE place_num = #{place_num}
	</select>
	
	<select id="readPlacePicture" parameterType="int" resultType="com.engineers.moyeo.two.dto.Place_picDTO">
		SELECT * FROM place_pic WHERE place_num = #{place_num}
	</select>
	   
	<insert id="inputPlace" parameterType="com.engineers.moyeo.two.dto.Place_infoDTO">
		INSERT INTO place_info (place_num, place_name, place_address, place_detail, place_link)
			VALUES (place_info_seq.NEXTVAL, #{place_name}, #{place_address}, #{place_detail}, #{place_link})
	</insert>
	
	<select id="getPlaceNum" resultType="int">
 		SELECT MAX(place_num) FROM place_info
	</select>
	
	<insert id="inputPictures">
		INSERT INTO place_pic (place_pic_num, place_pic_path, place_pic_name, place_num)
			VALUES (place_pic_seq.NEXTVAL, #{place_pic_path}, #{place_pic_name}, #{place_num})
	</insert>
	
	<delete id="deletePlace" parameterType="int">
		DELETE FROM place_info WHERE place_num = #{place_num}
	</delete>
	
	<delete id="deletePlacePicture" parameterType="int">
		DELETE FROM place_pic WHERE place_num = #{place_num}
	</delete>	
	
	<update id="modifyPlace" parameterType="com.engineers.moyeo.two.dto.Place_infoDTO">
		UPDATE place_info SET place_name = #{place_name}, place_address = #{place_address}, place_detail = #{place_detail}, place_link = #{place_link} WHERE place_num = #{place_num}
	</update>
	
	<update id="modifyPictures">
		UPDATE place_pic SET place_pic_path = #{place_pic_path}, place_pic_name = #{place_pic_name} WHERE place_num = #{place_num}
	</update>
	
	<select id="getRecPlaceCount" resultType="int">
		SELECT count(*) FROM rec_place WHERE place_num = #{place_num}
	</select>
	
	<select id="getRecPlaceList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Rec_placeDTO">
		SELECT * 
		FROM (SELECT recpla_num, recpla_title, recpla_content, recpla_category1, recpla_category2, recpla_tag, mem_id, place_num, rownum rnum 
			  FROM (SELECT * FROM rec_place WHERE place_num = #{place_num} ORDER BY recpla_num DESC)
			 ) 
 		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="readRecPlace" parameterType="int" resultType="com.engineers.moyeo.two.dto.Rec_placeDTO">
		SELECT * FROM rec_place WHERE recpla_num = #{recpla_num}
	</select>
	
	<insert id="writeRecPlace" parameterType="com.engineers.moyeo.two.dto.Rec_placeDTO">
		INSERT INTO rec_place(recpla_num, recpla_title, recpla_content, recpla_category1, recpla_category2, mem_id, place_num, recpla_tag)
			VALUES (rec_place_seq.NEXTVAL, #{recpla_title}, #{recpla_content}, #{recpla_category1}, #{recpla_category2}, #{mem_id}, #{place_num}, #{recpla_tag})
	</insert>
		
	<delete id="deleteRecPlace" parameterType="Map">
		DELETE FROM rec_place WHERE recpla_num = #{recpla_num} AND mem_id = #{mem_id}
	</delete>
	
	<update id="modifyRecPlace" parameterType="com.engineers.moyeo.two.dto.Rec_placeDTO">
		UPDATE rec_place SET recpla_title = #{recpla_title}, recpla_content = #{recpla_content}, recpla_category1 = #{recpla_category1}, recpla_category2 = #{recpla_category2}, recpla_tag = #{recpla_tag} WHERE recpla_num = #{recpla_num} AND mem_id = #{mem_id}
	</update>
	
	<select id="readPlaceLike" parameterType="Map" resultType="int">
		SELECT count(*) FROM place_like WHERE recpla_num = #{recpla_num}
	</select>
	
	<select id="checkMyPlaceLike" parameterType="Map" resultType="int">
		SELECT count(*) FROM place_like WHERE recpla_num = #{recpla_num} AND mem_id = #{mem_id}
	</select>
	
	<insert id="plusPlaceLike" parameterType="Map">
		INSERT INTO place_like (plalike_num, recpla_num, mem_id) VALUES(place_like_seq.NEXTVAL, #{recpla_num}, #{mem_id})
	</insert>
	
	<select id="checkPlalikeNum" parameterType="Map" resultType="int">
		SELECT plalike_num FROM place_like WHERE recpla_num = #{recpla_num} AND mem_id = #{mem_id}
	</select>
	
	<delete id="minusPlaceLike" parameterType="int">
		DELETE FROM place_like WHERE plalike_num = #{plalike_num}
	</delete>
	
	<!-- ?대뼡 紐⑥엫 ?섎굹??紐⑥엫 ?뺣낫瑜?遺덈윭??-->
 	<select id="readMoimInfo" parameterType="int" resultType="com.engineers.moyeo.two.dto.Moim_infoDTO">
 		SELECT * FROM group_list WHERE group_num = #{group_num}
 	</select>
 	
 	<select id="identifyMoimMember" parameterType="Map" resultType="int">
 		SELECT COUNT(*) FROM my_group WHERE group_num = #{group_num} AND mem_id = #{mem_id}
 	</select>
 	
 	<select id="moimJoinCheck" parameterType="Map" resultType="int">
 		SELECT COUNT(*) FROM join_request WHERE group_num = #{group_num} AND mem_id = #{mem_id} AND (status = '?뱀씤' OR status = '?湲?)
 	</select>
 	
 	<select id="moimBanishCheck" parameterType="Map" resultType="int">
 		SELECT COUNT(*) FROM join_request WHERE group_num = #{group_num} AND mem_id = #{mem_id} AND status = '媛뺤젣?덊눜'
 	</select>
 	
 	<insert id="moimJoin" parameterType="Map">
		INSERT INTO join_request (request_num, request_date, status, mem_id, group_num) VALUES (join_request_seq.NEXTVAL, SYSDATE, '?湲?, #{mem_id}, #{group_num})
	</insert>
	
	<delete id="moimWithdraw" parameterType="Map">
		DELETE FROM my_group WHERE mem_id = #{mem_id} AND group_num = #{group_num}
	</delete>
	
	<select id="getMoimJoinCount" parameterType="int" resultType="int">
		SELECT count(*) FROM join_request WHERE group_num = #{group_num} AND status= '?湲?
	</select>
	
	<select id="getMoimJoinList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Join_requestDTO">
 		SELECT *
		  FROM (SELECT request_num, request_date, status, group_num, mem_id, rownum rnum
		          FROM (SELECT jmi.request_num, jmi.request_date, jmi.status, mi.mem_id, jmi.group_num, mi.name, mi.birth, mi.gender 
		                FROM (SELECT * FROM join_request WHERE group_num = #{group_num} AND status= '?湲? ORDER BY request_num DESC) jmi, member_info mi
		                WHERE jmi.mem_id = mi.mem_id))
		 WHERE rnum BETWEEN #{start} AND #{end} 
	</select>
	
	<select id="getMoimJoinMemberInfoList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Member_infoDTO">
 		SELECT *
		  FROM (SELECT mem_id, name, birth, gender, rownum rnum
		          FROM (SELECT jmi.request_num, jmi.request_date, jmi.status, mi.mem_id, jmi.group_num, mi.name, mi.birth, mi.gender 
		                FROM (SELECT * FROM join_request WHERE group_num = #{group_num} AND status= '?湲? ORDER BY request_num DESC) jmi, member_info mi
		                WHERE jmi.mem_id = mi.mem_id))
		 WHERE rnum BETWEEN #{start} AND #{end} 
	</select>
	
	<select id="getMoimJoinInfo" parameterType="int" resultType="com.engineers.moyeo.two.dto.Join_requestDTO">
		SELECT * FROM join_request WHERE request_num = #{request_num}
	</select>

	<update id="moimJoinOK" parameterType="Map">
		UPDATE join_request SET status= #{status}, request_date = SYSDATE WHERE request_num = #{request_num}
	</update>
	
	<insert id="moimJoinPro" parameterType="Map">
		Insert INTO my_group (my_group_num, group_per, group_num, mem_id) VALUES (my_group_seq.NEXTVAL, #{group_per}, #{group_num}, #{mem_id})
	</insert>
	
	<update id="moimJoinNO" parameterType="Map">
		UPDATE join_request SET status= #{status}, request_date = SYSDATE WHERE request_num = #{request_num}  
	</update>
	
	<select id="getMoimMemberCount" parameterType="int" resultType="int">
		SELECT count(*) FROM my_group WHERE group_num = #{group_num}
	</select>
	
	<select id="getMoimMemberList" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MyGroupDTO">
 		SELECT * 
		  FROM (SELECT my_group_num, group_per, group_num, mem_id, rownum rnum
		    FROM (SELECT gmi.my_group_num, gmi.group_per, gmi.group_num, mi.mem_id, mi.name, mi.birth, mi.gender 
		            FROM (SELECT my_group_num, group_per, group_num, mem_id FROM my_group WHERE group_num = #{group_num} ORDER BY my_group_num DESC) gmi, member_info mi
		            WHERE gmi.mem_id = mi.mem_id))
 		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getMoimMemberInfoList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Member_infoDTO">
 		SELECT * 
		  FROM (SELECT mem_id, name, birth, gender, rownum rnum
		          FROM (SELECT gmi.my_group_num, gmi.group_per, gmi.group_num, mi.mem_id, mi.name, mi.birth, mi.gender 
		                  FROM (SELECT my_group_num, group_per, group_num, mem_id FROM my_group WHERE group_num = #{group_num} ORDER BY my_group_num DESC) gmi, member_info mi
		                  WHERE gmi.mem_id = mi.mem_id))
 		WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	<select id="getMoimMemberInfo" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MyGroupDTO">
		SELECT * FROM my_group WHERE my_group_num = #{my_group_num}
	</select>
	
	<select id="getMoimMemberInfo2" parameterType="Map" resultType="com.engineers.moyeo.six.dto.MyGroupDTO">
		SELECT * FROM my_group WHERE group_num = #{group_num} AND mem_id = #{mem_id}
	</select>
	
	<select id="checkMoimMemberRank" parameterType="int" resultType="String">
		SELECT group_per FROM my_group WHERE my_group_num = #{my_group_num}
	</select>
	
	<update id="changeMoimMemberRank" parameterType="Map">
		UPDATE my_group SET group_per = #{group_per} WHERE my_group_num = #{my_group_num}
	</update>

	<delete id="banishMoimMember" parameterType="int">
		DELETE FROM my_group WHERE my_group_num = #{my_group_num}
	</delete>
	
	<update id="moimJoinOut" parameterType="Map">
		UPDATE join_request SET status= #{status}, request_date = SYSDATE WHERE group_num = #{group_num} AND mem_id = #{mem_id}
	</update>
	
	<select id="getNoticeBoardCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM group_notice WHERE group_num = #{group_num}
	</select>
	
	<select id="getGreetingBoardCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM greeting_board WHERE group_num = #{group_num}
	</select>
	
	<select id="getPostBoardCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM meeting_post WHERE group_num = #{group_num}
	</select>
	
	<select id="getNoticeBoardArticles" parameterType="Map" resultType="com.engineers.moyeo.four.dto.GroupNoticeDTO">
  		SELECT *  
		  FROM (SELECT group_noti_num, group_noti_title, group_noti_content, group_noti_date, hit, mem_id, group_num, rownum rnum  
				 FROM (SELECT * 
				 		 FROM group_notice
				 		WHERE group_num = #{group_num} 
						ORDER BY group_noti_num DESC)
				)		  
          WHERE rnum BETWEEN #{start} AND #{end}
    </select>
    
    <select id="getGreetingBoardArticles" parameterType="Map" resultType="com.engineers.moyeo.four.dto.GreetingBoardDTO"> 
  		SELECT *  
		  FROM (SELECT greeting_num, greeting_title, greeting_content, greeting_date, greeting_hit, like_num, mem_id, group_num, rownum rnum  
				 FROM (SELECT * 
				 		 FROM greeting_board
				 		WHERE group_num = #{group_num}  
						ORDER BY greeting_num DESC)
				)		  
          WHERE rnum BETWEEN #{start} AND #{end}
   </select>
   
   <select id="getPostBoardArticles" parameterType="Map" resultType="com.engineers.moyeo.five.dto.MeetingPostDTO">
    	SELECT *
    	  FROM (SELECT post_num, post_title, post_content, post_tag, post_date, like_num, mem_id, group_num, post_hit, rownum as rnum
    	  		  FROM (SELECT * 
    	  		          FROM meeting_post
    	  		         WHERE group_num = #{group_num} 
    	  		         ORDER BY post_num DESC
    	  		        )
    	  		)
    	 WHERE rnum BETWEEN #{start} AND #{end} 
    </select>
    
    <delete id="deleteNoticeBoardArticle" parameterType="Map">
    	DELETE FROM group_notice WHERE group_noti_num = #{group_noti_num} AND group_num = #{group_num}
    </delete>
    
    <delete id="deleteGreetingBoardArticle" parameterType="Map">
    	DELETE FROM greeting_board WHERE greeting_num = #{greeting_num} AND group_num = #{group_num}
    </delete>
    
    <delete id="deletePostBoardArticle" parameterType="Map">
    	DELETE FROM meeting_post WHERE post_num = #{post_num} AND group_num = #{group_num}
    </delete>
    
    <select id="getMoimSearchCount" parameterType="Map" resultType="int">
    	SELECT COUNT(*)
		  FROM (SELECT gl.group_num, gl.group_name, gl.group_mem_cnt, gl.group_inte1, gl.group_inte2, gl.group_location, gl.group_intro, mp.main_pic_num, mp.main_pic_path, mp.main_pic_name, rownum rnum
		          FROM (SELECT group_num, group_name, group_mem_cnt, group_inte1, group_inte2, group_location, SUBSTR(group_intro, 1, 100) AS group_intro
		                  FROM group_list
		                WHERE group_name LIKE '%'||#{group_name}||'%' AND group_intro LIKE '%'||#{group_intro}||'%'
		                ORDER BY group_num DESC) gl,
		               (SELECT main_pic_num, main_pic_path, main_pic_name, group_num
		                  FROM main_picture
		                WHERE main_pic_path NOT LIKE '%-'
		                ORDER BY main_pic_num DESC) mp
		        WHERE gl.group_num = mp.group_num) 	
    </select>
    
    
    <select id="getMoimPostSearchCount" parameterType="Map" resultType="int">
    	SELECT COUNT (*)
		  FROM(SELECT mepo.post_num, mepo.post_title, mepo.post_content, mepo.post_tag, mepo.post_date, mepo.like_num, mepo.post_hit, mepo.mem_id, mepo.group_num, popi.pic_num, popi.pic_path, popi.pic_name, rownum rnum
		        FROM (SELECT post_num, post_title, SUBSTR(post_content, 1, 100) AS post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		                FROM meeting_post
		              WHERE post_title LIKE '%'||#{post_title}||'%' AND post_content LIKE '%'||#{post_content}||'%'
		              ORDER BY post_num DESC) mepo,
		             (SELECT pic_num, pic_path, pic_name, post_num, group_num FROM post_pictures
		                WHERE rowid IN (SELECT MAX(rowid) FROM post_pictures GROUP BY post_num)
		              ORDER BY post_num DESC) popi
		      WHERE mepo.group_num = popi.group_num
		        AND mepo.post_num = popi.post_num)
    </select>
    
    <select id="getMoimPostByTagSearchCount" parameterType="Map" resultType="int">
    	SELECT COUNT(*)
		  FROM(SELECT mepo.post_num, mepo.post_title, mepo.post_content, mepo.post_tag, mepo.post_date, mepo.like_num, mepo.post_hit, mepo.mem_id, mepo.group_num, popi.pic_num, popi.pic_path, popi.pic_name, rownum rnum
		        FROM (SELECT post_num, post_title, SUBSTR(post_content, 1, 100) AS post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		                FROM meeting_post
		              WHERE post_tag LIKE '%'||#{post_tag}||'%'
		              ORDER BY post_num DESC) mepo,
		             (SELECT pic_num, pic_path, pic_name, post_num, group_num FROM post_pictures
		                WHERE rowid IN (SELECT MAX(rowid) FROM post_pictures GROUP BY post_num)
		              ORDER BY post_num DESC) popi
		      WHERE mepo.group_num = popi.group_num
		        AND mepo.post_num = popi.post_num)
    </select>

	<select id="getMoimSearchList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Moim_infoDTO">
		SELECT group_num, group_name, group_mem_cnt, group_inte1, group_inte2, group_location, group_intro
		  FROM (SELECT gl.group_num, gl.group_name, gl.group_mem_cnt, gl.group_inte1, gl.group_inte2, gl.group_location, gl.group_intro, mp.main_pic_num, mp.main_pic_path, mp.main_pic_name, rownum rnum
		          FROM (SELECT group_num, group_name, group_mem_cnt, group_inte1, group_inte2, group_location, SUBSTR(group_intro, 1, 100) AS group_intro
		                  FROM group_list
		                WHERE group_name LIKE '%'||#{group_name}||'%' AND group_intro LIKE '%'||#{group_intro}||'%'
		                ORDER BY group_num DESC) gl,
		               (SELECT main_pic_num, main_pic_path, main_pic_name, group_num
		                  FROM main_picture
		                WHERE main_pic_path NOT LIKE '%-'
		                ORDER BY main_pic_num DESC) mp
		        WHERE gl.group_num = mp.group_num)
		WHERE rnum BETWEEN #{start1} AND #{end1}
	</select>
	
	<select id="getMoimPictureSearchList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Moim_pictureDTO">
		SELECT main_pic_num, main_pic_path, main_pic_name, group_num
		  FROM (SELECT gl.group_num, gl.group_name, gl.group_mem_cnt, gl.group_inte1, gl.group_inte2, gl.group_location, gl.group_intro, mp.main_pic_num, mp.main_pic_path, mp.main_pic_name, rownum rnum
		          FROM (SELECT group_num, group_name, group_mem_cnt, group_inte1, group_inte2, group_location, SUBSTR(group_intro, 1, 100) AS group_intro
		                  FROM group_list
		                WHERE group_name LIKE '%'||#{group_name}||'%' AND group_intro LIKE '%'||#{group_intro}||'%'
		                ORDER BY group_num DESC) gl,
		               (SELECT main_pic_num, main_pic_path, main_pic_name, group_num
		                  FROM main_picture
		                WHERE main_pic_path NOT LIKE '%-'
		                ORDER BY main_pic_num DESC) mp
		        WHERE gl.group_num = mp.group_num)
		WHERE rnum BETWEEN #{start1} AND #{end1}
	</select>
	
	<select id="getMoimPostSearchList" parameterType="Map" resultType="com.engineers.moyeo.five.dto.MeetingPostDTO">
		SELECT post_num, post_title, post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		  FROM(SELECT mepo.post_num, mepo.post_title, mepo.post_content, mepo.post_tag, mepo.post_date, mepo.like_num, mepo.post_hit, mepo.mem_id, mepo.group_num, popi.pic_num, popi.pic_path, popi.pic_name, rownum rnum
		        FROM (SELECT post_num, post_title, SUBSTR(post_content, 1, 100) AS post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		                FROM meeting_post
		              WHERE post_title LIKE '%'||#{post_title}||'%' AND post_content LIKE '%'||#{post_content}||'%'
		              ORDER BY post_num DESC) mepo,
		             (SELECT pic_num, pic_path, pic_name, post_num, group_num FROM post_pictures
		                WHERE rowid IN (SELECT MAX(rowid) FROM post_pictures GROUP BY post_num)
		              ORDER BY post_num DESC) popi
		      WHERE mepo.group_num = popi.group_num
		        AND mepo.post_num = popi.post_num)
		WHERE rnum BETWEEN #{start2} AND #{end2}
	</select>
	
	<select id="getMoimPostPictureSearchList" parameterType="Map" resultType="com.engineers.moyeo.five.dto.PostPictureDTO">
		SELECT pic_num, pic_path, pic_name, post_num, group_num
		  FROM(SELECT mepo.post_num, mepo.post_title, mepo.post_content, mepo.post_tag, mepo.post_date, mepo.like_num, mepo.post_hit, mepo.mem_id, mepo.group_num, popi.pic_num, popi.pic_path, popi.pic_name, rownum rnum
		        FROM (SELECT post_num, post_title, SUBSTR(post_content, 1, 100) AS post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		                FROM meeting_post
		              WHERE post_title LIKE '%'||#{post_title}||'%' AND post_content LIKE '%'||#{post_content}||'%'
		              ORDER BY post_num DESC) mepo,
		             (SELECT pic_num, pic_path, pic_name, post_num, group_num FROM post_pictures
		                WHERE rowid IN (SELECT MAX(rowid) FROM post_pictures GROUP BY post_num)
		              ORDER BY post_num DESC) popi
		      WHERE mepo.group_num = popi.group_num
		        AND mepo.post_num = popi.post_num)
		WHERE rnum BETWEEN #{start2} AND #{end2}
	</select>
	
	<select id="getMoimPostByTagSearchList" parameterType="Map" resultType="com.engineers.moyeo.five.dto.MeetingPostDTO">
		SELECT post_num, post_title, post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		  FROM(SELECT mepo.post_num, mepo.post_title, mepo.post_content, mepo.post_tag, mepo.post_date, mepo.like_num, mepo.post_hit, mepo.mem_id, mepo.group_num, popi.pic_num, popi.pic_path, popi.pic_name, rownum rnum
		        FROM (SELECT post_num, post_title, SUBSTR(post_content, 1, 100) AS post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		                FROM meeting_post
		              WHERE post_tag LIKE '%'||#{post_tag}||'%'
		              ORDER BY post_num DESC) mepo,
		             (SELECT pic_num, pic_path, pic_name, post_num, group_num FROM post_pictures
		                WHERE rowid IN (SELECT MAX(rowid) FROM post_pictures GROUP BY post_num)
		              ORDER BY post_num DESC) popi
		      WHERE mepo.group_num = popi.group_num
		        AND mepo.post_num = popi.post_num)
		 WHERE rnum BETWEEN #{start2} AND #{end2}
	</select>
	
	<select id="getMoimPostPictureByTagSearchList" parameterType="Map" resultType="com.engineers.moyeo.five.dto.PostPictureDTO">
		SELECT pic_num, pic_path, pic_name, post_num, group_num
		  FROM(SELECT mepo.post_num, mepo.post_title, mepo.post_content, mepo.post_tag, mepo.post_date, mepo.like_num, mepo.post_hit, mepo.mem_id, mepo.group_num, popi.pic_num, popi.pic_path, popi.pic_name, rownum rnum
		        FROM (SELECT post_num, post_title, SUBSTR(post_content, 1, 100) AS post_content, post_tag, post_date, like_num, post_hit, mem_id, group_num
		                FROM meeting_post
		              WHERE post_tag LIKE '%'||#{post_tag}||'%'
		              ORDER BY post_num DESC) mepo,
		             (SELECT pic_num, pic_path, pic_name, post_num, group_num FROM post_pictures
		                WHERE rowid IN (SELECT MAX(rowid) FROM post_pictures GROUP BY post_num)
		              ORDER BY post_num DESC) popi
		      WHERE mepo.group_num = popi.group_num
		        AND mepo.post_num = popi.post_num)
		WHERE rnum BETWEEN #{start2} AND #{end2}
	</select>
	
	<select id="getPlaceSearchCount" parameterType="Map" resultType="int">
    	SELECT COUNT(*)
		  FROM (SELECT pi.place_num, pi.place_name, pi.place_address, pi.place_detail, pi.place_link, pp.place_pic_num, pp.place_pic_path, pp.place_pic_name
		          FROM (SELECT place_num, place_name, place_address, SUBSTR(place_detail, 1, 100) AS place_detail, place_link
		                  FROM place_info
		                WHERE place_name LIKE '%'||#{place_name}||'%' AND place_detail LIKE '%'||#{place_detail}||'%'
		                ORDER BY place_num DESC) pi,
		               (SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		                  FROM place_pic
		                ORDER BY place_pic_num DESC) pp
		        WHERE pi.place_num = pp.place_num)
    </select>
    
    <select id="getPlaceByAddressSearchCount" parameterType="Map" resultType="int">
    	SELECT COUNT(*)
		  FROM (SELECT pi.place_num, pi.place_name, pi.place_address, pi.place_detail, pi.place_link, pp.place_pic_num, pp.place_pic_path, pp.place_pic_name
		          FROM (SELECT place_num, place_name, place_address, SUBSTR(place_detail, 1, 100) AS place_detail, place_link
		                  FROM place_info
		                WHERE place_address LIKE '%'||#{place_address}||'%'
		                ORDER BY place_num DESC) pi,
		               (SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		                  FROM place_pic
		                ORDER BY place_pic_num DESC) pp
		        WHERE pi.place_num = pp.place_num)       
    </select>

    <select id="getPlaceSearchList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">
   		SELECT place_num, place_name, place_address, place_detail, place_link 
		  FROM (SELECT pi.place_num, pi.place_name, pi.place_address, pi.place_detail, pi.place_link, pp.place_pic_num, pp.place_pic_path, pp.place_pic_name, rownum rnum
		          FROM (SELECT place_num, place_name, place_address, SUBSTR(place_detail, 1, 100) AS place_detail, place_link
		                  FROM place_info
		                WHERE place_name LIKE '%'||#{place_name}||'%' AND place_detail LIKE '%'||#{place_detail}||'%'
		                ORDER BY place_num DESC) pi,
		               (SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		                  FROM place_pic
		                ORDER BY place_pic_num DESC) pp
		        WHERE pi.place_num = pp.place_num)
		WHERE rnum BETWEEN #{start3} AND #{end3}
    </select>
    
    <select id="getPlacePictureSearchList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_picDTO">
    	SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		  FROM (SELECT pi.place_num, pi.place_name, pi.place_address, pi.place_detail, pi.place_link, pp.place_pic_num, pp.place_pic_path, pp.place_pic_name, rownum rnum
		          FROM (SELECT place_num, place_name, place_address, SUBSTR(place_detail, 1, 100) AS place_detail, place_link
		                  FROM place_info
		                WHERE place_name LIKE '%'||#{place_name}||'%' AND place_detail LIKE '%'||#{place_detail}||'%'
		                ORDER BY place_num DESC) pi,
		               (SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		                  FROM place_pic
		                ORDER BY place_pic_num DESC) pp
		        WHERE pi.place_num = pp.place_num)
		WHERE rnum BETWEEN #{start3} AND #{end3}
    </select>
    
    <select id="getPlaceByAddressSearchList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_infoDTO">
    	SELECT place_num, place_name, place_address, place_detail, place_link 
		  FROM (SELECT pi.place_num, pi.place_name, pi.place_address, pi.place_detail, pi.place_link, pp.place_pic_num, pp.place_pic_path, pp.place_pic_name, rownum rnum
		          FROM (SELECT place_num, place_name, place_address, SUBSTR(place_detail, 1, 100) AS place_detail, place_link
		                  FROM place_info
		                WHERE place_address LIKE '%'||#{place_address}||'%'
		                ORDER BY place_num DESC) pi,
		               (SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		                  FROM place_pic
		                ORDER BY place_pic_num DESC) pp
		        WHERE pi.place_num = pp.place_num)
		WHERE rnum BETWEEN #{start3} AND #{end3}
    </select>
    
    <select id="getPlacePictureByAddressSearchList" parameterType="Map" resultType="com.engineers.moyeo.two.dto.Place_picDTO">
    	SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		  FROM (SELECT pi.place_num, pi.place_name, pi.place_address, pi.place_detail, pi.place_link, pp.place_pic_num, pp.place_pic_path, pp.place_pic_name, rownum rnum
		          FROM (SELECT place_num, place_name, place_address, SUBSTR(place_detail, 1, 100) AS place_detail, place_link
		                  FROM place_info
		                WHERE place_address LIKE '%'||#{place_address}||'%'
		                ORDER BY place_num DESC) pi,
		               (SELECT place_pic_num, place_pic_path, place_pic_name, place_num
		                  FROM place_pic
		                ORDER BY place_pic_num DESC) pp
		        WHERE pi.place_num = pp.place_num)
		WHERE rnum BETWEEN #{start3} AND #{end3}
    </select>

	<select id="chartByGender" parameterType="int" resultType="com.engineers.moyeo.two.dto.StatisticsDTO">
		SELECT *
		  FROM (SELECT NVL(COUNT(mi.mem_id), 0) AS man_cnt
		          FROM (SELECT mem_id, gender
		                  FROM member_info 
		                WHERE gender = 'man') mi,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE mi.mem_id = mg.mem_id),
		       (SELECT NVL(COUNT(mi.mem_id), 0) AS woman_cnt
		          FROM (SELECT mem_id, gender
		                  FROM member_info 
		                WHERE gender = 'woman') mi,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE mi.mem_id = mg.mem_id)
	</select>
	
	<select id="chartByAge" parameterType="int" resultType="com.engineers.moyeo.two.dto.StatisticsDTO">
		SELECT *
		  FROM (SELECT NVL(COUNT(mg.mem_id), 0) AS teen_cnt
		          FROM (SELECT TRUNC(TRUNC(MONTHS_BETWEEN(SYSDATE, birth))/12, 0) AS age, mem_id
		                  FROM member_info
		                ORDER BY join_date) ab,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE ab.mem_id = mg.mem_id
		           AND age BETWEEN 0 AND 19),
		       (SELECT NVL(COUNT(mg.mem_id), 0) AS twenty_cnt
		          FROM (SELECT TRUNC(TRUNC(MONTHS_BETWEEN(SYSDATE, birth))/12, 0) AS age, mem_id
		                  FROM member_info
		                ORDER BY join_date) ab,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE ab.mem_id = mg.mem_id
		           AND age BETWEEN 20 AND 29),
		       (SELECT NVL(COUNT(mg.mem_id), 0) AS thirty_cnt
		          FROM (SELECT TRUNC(TRUNC(MONTHS_BETWEEN(SYSDATE, birth))/12, 0) AS age, mem_id
		                  FROM member_info
		                ORDER BY join_date) ab,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE ab.mem_id = mg.mem_id
		           AND age BETWEEN 30 AND 39),
		       (SELECT NVL(COUNT(mg.mem_id), 0) AS fourty_cnt
		          FROM (SELECT TRUNC(TRUNC(MONTHS_BETWEEN(SYSDATE, birth))/12, 0) AS age, mem_id
		                  FROM member_info
		                ORDER BY join_date) ab,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE ab.mem_id = mg.mem_id
		           AND age BETWEEN 40 AND 49),
		       (SELECT NVL(COUNT(mg.mem_id), 0) AS fifty_cnt
		          FROM (SELECT TRUNC(TRUNC(MONTHS_BETWEEN(SYSDATE, birth))/12, 0) AS age, mem_id
		                  FROM member_info
		                ORDER BY join_date) ab,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE ab.mem_id = mg.mem_id
		           AND age BETWEEN 50 AND 59),
		       (SELECT NVL(COUNT(mg.mem_id), 0) AS sixty_cnt
		          FROM (SELECT TRUNC(TRUNC(MONTHS_BETWEEN(SYSDATE, birth))/12, 0) AS age, mem_id
		                  FROM member_info
		                ORDER BY join_date) ab,
		               (SELECT mem_id, group_num
		                  FROM my_group
		                WHERE group_num = #{group_num}) mg
		        WHERE ab.mem_id = mg.mem_id
		           AND age BETWEEN 60 AND 120)
	</select>
</mapper>